<div class="row">
            <div class="col-sm-4">
                            <div class="form-field">
                                <label>Type of Hire</label>
                                <select class="multipleSelection" required multiple="multiple"
                                data-ng-model="task.hireType" name="location" data-ng-change="selectHireType()"
                                ng-class="{error : postTaskForm.location.$invalid && postTaskForm.$submitted}">
                                    <option value="Car Hire">Car Hire</option>
                                    <option value="Venue Hire">Venue Hire</option>
                                </select>
                            </div>
                        </div>
   
</div>

<div class="row" data-ng-if="carIndicator">
    <div class="col-sm-4">
        <div class="form-field">
            <label>Type of car</label>
            <select class="singleSelection" required data-ng-model="task.carType" name="carType"
                    ng-class="{error : postTaskForm.carType.$invalid && postTaskForm.$submitted}">
                <option value="">Select car Type</option>
                <option value="limo classic">LIMO CLASSIC</option>
                <option value="limo hummer">LIMO HUMMER</option>
                <option value="classic European ">CLASSIC EUROPEAN (WEDDING CAR)</option>
                <option value="Convertible modern">CONVERTIBLE MODERN</option>
                <option value="convertible classic">CONVERTIBLE CLASSIC</option>
                <option value="sports car">SPORTS CAR</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>No. of cars required</label>
            <input type="number" class="form-control" ng-model="task.totalCost" name="totalCars" min="1" max="7"
                   required
                   ng-class="{error : postTaskForm.totalCars.$invalid && postTaskForm.$submitted}">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label style="width:100%; margin-left:5px;">Budget</label>
            <div class="input-adjust">
                <span class="place-ico">$</span>
                <input type="number" class="form-control" ng-model="task.totalCost" name="totalCost"
                       required
                       ng-class="{error : postTaskForm.totalCost.$invalid && postTaskForm.$submitted}"/>
                </div>
            <div class="input-adjust">
                <select class="singleSelection" required data-ng-model="task.totalCostType" name="totalCostType" ng-class="{error : postTaskForm.totalCostType.$invalid && postTaskForm.$submitted}">
                    <option value="">Select Budget type</option>
                    <option value="Per Person">Per hour</option>
                    <option value="Per Piece">Per car</option>
                    <option value="Total">Total</option>
                </select>
            </div>
            </div>
    </div>
</div>

<div class="row" data-ng-if="venueIndicator">
    <div class="col-sm-4">
        <div class="form-field">
            <label>Type of Venue</label>
            <select class="singleSelection" required data-ng-model="task.venueType" name="venueType"
                    ng-class="{error : postTaskForm.venueType.$invalid && postTaskForm.$submitted}">
                <option value="">Select venue Type</option>
                <option value="Small Hall">Small Hall</option>
                <option value="Medium Hall">Medium Hall</option>
                <option value="Large Hall">Large Hall</option>
                <option value="Conference Room">Conference Room</option>
                <option value="Garden/Outdoors">Garden/Outdoors</option>
                <option value="Theatre">Theatre</option>
                <option value="House">House</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>No. of cars required</label>
            <input type="number" class="form-control" ng-model="task.totalGuest" name="totalGuest" min="1"
                   required
                   ng-class="{error : postTaskForm.totalGuest.$invalid && postTaskForm.$submitted}">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>Venue Cleaning</label>
            <select class="singleSelection" required data-ng-model="task.venueCleaning" name="venueCleaning"
                    ng-class="{error : postTaskForm.venueCleaning.$invalid && postTaskForm.$submitted}">
                <option value="">Select Venue Cleaning Type </option>
                <option value="I am happy to be responsible for cleaning after my event">I am happy to be responsible for cleaning after my event</option>
                <option value="Can you please include cleaning in your proposal">Can you please include cleaning in your proposal</option>
            </select>
        </div>
    </div>
</div>
                   