<div class="row">
    <div class="col-sm-4">
        <div class="form-field">
            <label>Describe what you would like your talent to do at your event.</label>
            <select class="multipleSelection" required multiple="multiple"
                    data-ng-model="task.category_question.entertainerRequired" name="entertainerRequired"
                    ng-class="{error : postTaskForm.entertainerRequired.$invalid && postTaskForm.$submitted}">
                <option value="">PLEASE SELECT</option>
                <option value="Singer">SINGER</option>
                <option value="Musician">MUSICIAN</option>
                <option value="Band">BAND</option>
                <option value="Clown">CLOWN</option>
                <option value="Singer">SINGER</option>
                <option value="Kids Party Entertainment">KIDS PARTY ENTERTAINMENT</option>
                <option value="Dancer">DANCER</option>
                <option value="Comedian">COMEDIAN</option>
                <option value="MC">MC</option>
                <option value="Face Painter">FACE PAINTER</option>
            </select>
        </div>
    </div> 
    <div class="col-sm-4">
        <div class="form-field">
            <label class="desk-hair">No. of guests at event</label>
            <input type="number" class="form-control" ng-model="task.category_question.totalGuest"
                   name="totalGuest" min="1" max="5000" id="totalGuest"
                   required
                   ng-class="{error : postTaskForm.totalGuest.$invalid && postTaskForm.$submitted}">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>Do you have any equipment ready that your talent can use?</label>
            <input type="text" class="form-control" ng-model="task.category_question.equipmentReadyForTalent"
                   name="equipmentReadyForTalent" id="equipmentReadyForTalent"
                   required
                   ng-class="{error : postTaskForm.equipmentReadyForTalent.$invalid && postTaskForm.$submitted}" />
                  
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field" id="thingsRequiredForTalent">
            <label>What does your talent need to bring with them?</label>
            <input type="text" class="form-control" ng-model="task.category_question.thingsRequiredForTalent"
                   name="thingsRequiredForTalent"
                   required
                   ng-class="{error : postTaskForm.thingsRequiredForTalent.$invalid && postTaskForm.$submitted}">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>How much would you like to spend?</label>
            <div class="input-adjust">
                <span class="place-ico">$</span>
                <input type="number" class="form-control" ng-model="task.category_question.totalCost" name="totalCost"
                       required
                       ng-class="{error : postTaskForm.totalCost.$invalid && postTaskForm.$submitted}">
            </div>
            <div class="input-adjust">
                <select class="form-control singleSelection" required data-ng-model="task.category_question.costType" name="totalCostType"
                        ng-class="{error : postTaskForm.totalCostType.$invalid && postTaskForm.$submitted}">
                    <option value="">SELECT TYPE OF COST</option>
                    <option value="Per Hour">PER HOUR</option>
                    <option value="Total">TOTAL</option>
                </select>
            </div>
        </div>
    </div>
</div>