<div class="row">
     <div class="col-sm-4">
        <div class="form-field">
            <label>Describe what kind of flowers you like (i.e. type & colour).
            </label>
            <textarea data-ng-model="task.category_question.flowersRequiredDescription" name="flowersRequiredDescription" required
                      ng-class="{error : postTaskForm.flowersRequiredDescription.$invalid && postTaskForm.$submitted}"></textarea>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>How would you like your arrangement presented?</label>
            <select class="multipleSelection" required multiple="multiple"
                    data-ng-model="task.category_question.arrangementPresentation" name="arrangementPresentation"
                    ng-class="{error : postTaskForm.arrangementPresentation.$invalid && postTaskForm.$submitted}">
                <option value="Invitations"> Cut Flowers Gift Wrapped (No Vase)</option>
                <option value="Banners or Posters">Vased Flowers</option>
                <option value="Flyers">Flowers in Wicker Basket</option>
                <option value="Place Setting names">Centerpiece</option>
                <option value="Templates for presentations">Plants</option>
                <option value="Other">Roses</option>
                <option value="Other">Gift Basket</option>
                <option value="Other">Funeral</option>
                <option value="Other">Church</option>
                <option value="Other">Wedding</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>What price range are you looking at for your flowers?</label>
            <div class="input-adjust">
                <span class="place-ico">$</span>
                <input type="number" class="form-control" data-ng-model="task.category_question.totalCost" name="totalCost"
                       required min="1"
                       ng-class="{error : postTaskForm.totalCost.$invalid && postTaskForm.$submitted}" />
            </div>
            <div class="input-adjust">
                <select class="singleSelection" required data-ng-model="task.category_question.costType" name="costType"
                        ng-class="{error : postTaskForm.costType.$invalid && postTaskForm.$submitted}">
                    <option value="">Please select</option>
                    <option value="per arrangement">Per arrangement</option>
                    <option value="Total">total</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-field">
            <label>
                Do you have any other special requests for your arrangement?
            </label>
            <textarea data-ng-model="task.category_question.specialRequestDesc" name="specialRequestDesc" required
                      ng-class="{error : postTaskForm.specialRequestDesc.$invalid && postTaskForm.$submitted}"></textarea>
        </div>
    </div>
</div>