<div class="row">
    <div class="col-sm-4">
        <div class="form-field">
            <label>What do you need designed for your event?</label>
            <select class="multipleSelection" required multiple="multiple"
                    data-ng-model="task.graphicBanners" name="graphicBanners"
                    ng-class="{error : postTaskForm.graphicBanners.$invalid && postTaskForm.$submitted}">
                <option value="Invitations">Invitations</option>
                <option value="Banners or Posters">Banners or Posters</option>
                <option value="Flyers">Flyers</option>
                <option value="Place Setting names">Place Setting names</option>
                <option value="Templates for presentations">Templates for presentations</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>Do you need to have your design printed?</label>
            <select class="singleSelection" required
                    data-ng-model="task.designPrinted" name="designPrinted"
                    ng-class="{error : postTaskForm.designPrinted.$invalid && postTaskForm.$submitted}">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                
            </select>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="form-field">
            <label>If you need it printed, how many do you require?</label>
            <select class="singleSelection" required
                    data-ng-model="task.numberOfBanners" name="numberOfBanners"
                    ng-class="{error : postTaskForm.numberOfBanners.$invalid && postTaskForm.$submitted}">
                <option value="Not applicable">Not applicable</option>
                <option value="1 to 50">1 to 50</option>
                <option value="50 to 100">50 to 100</option>
                <option value="100 to 150">100 to 150</option>
                <option value="150+">150+</option>
            </select>
        </div>
    </div>
    <div class="col-sm-12">
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>What is your total budget for your design job? </label>
            <span class="other-iocn-d">$</span>
            <input type="number" class="form-control" ng-model="task.totalBudgetForbanners" name="totalBudgetForbanners" min="1" max="5000"
                   required
                   ng-class="{error : postTaskForm.totalBudgetForbanners.$invalid && postTaskForm.$submitted}">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>Show us some designs that have inspired what your design should look like?
            (Allow up to three photo uploads)
            </label>
            <input type="file" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>Do you have any other information that you would like to share with the designer?</label>
            <input type="text" class="form-control" ng-model="task.additionalInformation" name="additionalInformation" min="1" max="5000"
                   required
                   ng-class="{error : postTaskForm.additionalInformation.$invalid && postTaskForm.$submitted}">
        </div>
    </div>
</div>