<div class="row">
    <div class="col-sm-4">
        <div class="form-field">
            <label>What do you need for your event?
</label>
            <select class="multipleSelection" required multiple="multiple"
                    data-ng-model="task.graphicBanners" name="graphicBanners"
                    ng-class="{error : postTaskForm.graphicBanners.$invalid && postTaskForm.$submitted}">
                <option value="Invitations">Photography
</option>
                <option value="Banners or Posters">Videography</option>
            </select>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="form-field">
            <label>What kind of services will you need from your photographer?</label>
            <select class="singleSelection" required
                    data-ng-model="task.numberOfBanners" name="numberOfBanners"
                    ng-class="{error : postTaskForm.numberOfBanners.$invalid && postTaskForm.$submitted}">
                <option value="Not applicable">Full day photo coverage</option>
                <option value="1 to 50">Half day photo coverage</option>
                <option value="50 to 100">Under 3 hour photo coverage
</option>
                <option value="100 to 150">Finished photo collection (fully edited)
</option>
                <option value="150+">A photo album with chosen photos</option>
                <option value="150+">CD or flash drive with all files (unedited)</option>
                <option value="150+">Other</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>How many photographers would you like for your event?</label>
            <input type="number" class="form-control" ng-model="task.totalBudgetForbanners" name="totalBudgetForbanners" min="1" max="5000"
                   required
                   ng-class="{error : postTaskForm.totalBudgetForbanners.$invalid && postTaskForm.$submitted}">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>How many guests at your event?</label>
            <input type="number" class="form-control" ng-model="task.totalBudgetForbanners" name="totalBudgetForbanners" min="1" max="5000"
                   required
                   ng-class="{error : postTaskForm.totalBudgetForbanners.$invalid && postTaskForm.$submitted}">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>How many places do you require your photographer to be </label>
            <select class="singleSelection" required
                    data-ng-model="task.numberOfBanners" name="numberOfBanners"
                    ng-class="{error : postTaskForm.numberOfBanners.$invalid && postTaskForm.$submitted}">
                <option value="Not applicable">1</option>
                <option value="1 to 50">2</option>
                <option value="50 to 100">3
</option>
                <option value="100 to 150">4
</option>
                <option value="150+">5</option>
                <option value="150+">6</option>
                <option value="150+">7</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>Add any additional comments to help explain what you need to your photographer.</label>
            <textarea></textarea>
        </div>
    </div>
</div>