<div class="row">
    <div class="col-sm-4">
        <div class="form-field">
            <label>What do you need for your event?</label>
            <select class="multipleSelection" required multiple="multiple"
                    data-ng-model="task.category_question.eventRequirement" name="eventRequirement"
                    ng-class="{error : postTaskForm.eventRequirement.$invalid && postTaskForm.$submitted}" data-ng-change="photoVideoEventRequired()">
                <option value="Photography">PHOTOGRAPHY</option>
                <option value="Videography">VIDEOGRAPHY</option>
            </select>
        </div>
    </div>
    
    <div class="col-sm-4" data-ng-if="PhotographyIndicator">
        <div class="form-field">
            <label>What kind of services will you need from your photographer?</label>
            <select class="singleSelection" required
                    data-ng-model="task.category_question.servicesRequired" name="servicesRequired"
                    ng-class="{error : postTaskForm.servicesRequired.$invalid && postTaskForm.$submitted}">
                <option value="Full day photo coverage">FULL DAY PHOTO COVERAGE</option>
                <option value="Half day photo coverage">HALF DAY PHOTO COVERAGE</option>
                <option value="Under 3 hour photo coverage">UNDER 3 HOUR PHOTO COVERAGE</option>
                <option value="Finished photo collection">FINISHED PHOTO COLLECTION (FULLY EDITED)</option>
                <option value="A photo album with chosen photos">A PHOTO ALBUM WITH CHOSEN PHOTOS</option>
                <option value="CD or flash drive with all files">CD OR FLASH DRIVE WITH ALL FILES (UNEDITED)</option>
                <option value="Other">OTHER</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4" data-ng-if="PhotographyIndicator">
        <div class="form-field">
            <label>How many photographer's would you like for your event?</label>
            <input type="number" class="form-control" ng-model="task.category_question.totalPhotographerRequired"
                   name="totalPhotographerRequired" min="1" max="5000"
                   required
                   ng-class="{error : postTaskForm.totalPhotographerRequired.$invalid && postTaskForm.$submitted}">
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-4" data-ng-if="PhotographyIndicator">
        <div class="form-field">
            <label>How many guests at your event?</label>
            <input type="number" class="form-control" ng-model="task.category_question.totalGuest"
                   name="totalGuest" min="1" max="5000"
                   required
                   ng-class="{error : postTaskForm.totalGuest.$invalid && postTaskForm.$submitted}">
        </div>
    </div>
    <div class="col-sm-4" data-ng-if="PhotographyIndicator">
        <div class="form-field">
            <label>How many places do you require your photographer to be </label>
            <input type="text" class="form-control" required placeholder="1 to 7 " min="1" max="7"
                   data-ng-model="task.category_question.placesRequiredForPhotographers" name="placesRequiredForPhotographers"
                   ng-class="{error : postTaskForm.placesRequiredForPhotographers.$invalid && postTaskForm.$submitted}" />
        </div>
    </div>
    <div class="col-sm-4" data-ng-if="PhotographyIndicator">
        <div class="form-field">
            <label>Add any additional comments to help explain what you need to your photographer.</label>
            <textarea class="form-control" data-ng-model="task.category_question.additionalComments"
                      name="additionalComments" required
                      ng-class="{error : postTaskForm.additionalComments.$invalid && postTaskForm.$submitted}"></textarea>
        </div>
    </div>
</div>

<!--videography-->

<div class="row">
    <div class="col-sm-4" data-ng-if="VideographyIndicator">
        <div class="form-field">
            <label>What kind of services do you need from your videographer?</label>
            <select class="singleSelection" required
                    data-ng-model="task.category_question.servicesRequiredVideographer" name="servicesRequiredVideographer"
                    ng-class="{error : postTaskForm.servicesRequiredVideographer.$invalid && postTaskForm.$submitted}">
                <option value="Full day video coverage">FULL DAY VIDEO COVERAGE</option>
                <option value="Half day video coverage">HALF DAY VIDEO COVERAGE</option>
                <option value="Under 3 hour video coverage">UNDER 3 HOUR VIDEO COVERAGE</option>
                <option value="Full edited video on DVD or flash drive">FULL EDITED VIDEO ON DVD OR FLASH DRIVE</option>
                <option value="other">OTHER</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4" data-ng-if="VideographyIndicator">
        <div class="form-field">
            <label>How many videographer's  would you like for your event?</label>
            <input type="number" class="form-control" ng-model="task.category_question.totalvideographerRequired"
                   name="totalvideographerRequired" min="1" max="5000"
                   required
                   ng-class="{error : postTaskForm.totalvideographerRequired.$invalid && postTaskForm.$submitted}">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4" data-ng-if="VideographyIndicator">
        <div class="form-field">
            <label>How many guests at your event?</label>
            <input type="number" class="form-control" ng-model="task.category_question.totalGuestVideography"
                   name="totalGuestVideography" min="1" max="5000"
                   required
                   ng-class="{error : postTaskForm.totalGuestVideography.$invalid && postTaskForm.$submitted}">
        </div>
    </div>
    <div class="col-sm-4" data-ng-if="VideographyIndicator">
        <div class="form-field">
            <label>How many places do you require your Videographer to be </label>
            <input type="number" class="form-control" required placeholder="1 to 7 " min="1" max="7"
                   data-ng-model="task.category_question.placesRequiredForVideographer" name="placesRequiredForVideographer"
                   ng-class="{error : postTaskForm.placesRequiredForVideographer.$invalid && postTaskForm.$submitted}" />
        </div>
    </div>
    <div class="col-sm-4" data-ng-if="VideographyIndicator">
        <div class="form-field">
            <label>Add any additional comments to help explain what you need to your Videographer.</label>
            <textarea class="form-control" data-ng-model="task.category_question.additionalCommentsVideographer"
                      name="additionalCommentsVideographer" required
                      ng-class="{error : postTaskForm.additionalCommentsVideographer.$invalid && postTaskForm.$submitted}"></textarea>
        </div>
    </div>
</div>