<div class="row">
    <div class="col-sm-4">
        <div class="form-field">
            <label>What supplies do you need?</label>
            <select class="multipleSelection" required multiple="multiple"
                    data-ng-model="task.category_question.supplyTypes" name="supplyTypes"
                    ng-class="{error : postTaskForm.supplyTypes.$invalid && postTaskForm.$submitted}">
                <option value="BBQ">BBQ</option>
                <option value="Spit">Spit</option>
                <option value="Outdoor Heating">Outdoor Heating</option>
                <option value="Chair, table and other outdoor furniture">Chair, table and other outdoor furniture</option>
                <option value="Chair and Table coverings">Chair and Table coverings</option>
                <option value="Outdoor lighting">Outdoor lighting</option>
                <option value="Indoor lighting">Indoor lighting</option>
                <option value="Balloons">Balloons</option>
                <option value="Amplifier">Amplifier</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label>Describe what you need in a little more detail so we make sure we get you think the right thing.</label>
            <textarea class="form-control" data-ng-model="task.category_question.decriptionInDetail" name="decriptionInDetail" 
                      required
                      ng-class="{error : postTaskForm.decriptionInDetail.$invalid && postTaskForm.$submitted}"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-field">
            <label style="width:100%; margin-left:5px;">Would you like the supplier to include cleaning in the cost? </label>
            <select class="singleSelection" required data-ng-model="task.category_question.IscleaningPriceToBeIncluded"
                    name="IscleaningPriceToBeIncluded"
                    ng-class="{error : postTaskForm.IscleaningPriceToBeIncluded.$invalid && postTaskForm.$submitted}">
                <option value="">Please select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Not applicable">Not applicable</option>
            </select>
            </div>
        </div>
    <div class="col-sm-4">
        <div class="form-field">
            <label style="width:100%; margin-left:5px;">Will you expect to return or discard what you are supplied? </label>
            <select class="singleSelection" required data-ng-model="task.category_question.returnSupplies" name="returnSupplies"
                    ng-class="{error : postTaskForm.returnSupplies.$invalid && postTaskForm.$submitted}">
                <option value="">Please select</option>
                <option value="Return i.e. BBQ, furniture">Return i.e. BBQ, furniture</option>
                <option value="Discard i.e. table covers, balloons">Discard i.e. table covers, balloons</option>
            </select>
        </div>
    </div>
</div>
