@import './vars';
@import './latofonts';
@import './origin/bootstrap';
@import './origin/owl_carousel';
@import './origin/style';
@import './include-media';
@import './origin/select2.min';
@import './origin/bootstrap-multiselect';
@import './origin/jquery_timepicker.min';
@import './origin/bootstrap-datetimepicker';
// @import './origin/bootstrap-theme';
// @import './origin/style_backup_16_09';
// @import './origin/vaibhav_style';
