<div class="content-body">
    <div class="eb-inner-banner">
        <div class="caption">
            <h1>About us</h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">About us</li>
            </ol>
        </div>
    </div>

    <div class="about-vision">
        <div class="content">
            <!--<h3 class="title">The EventBid Vision</h3>-->
            <div class="text">
                <p>
                    <!--<b style="font-size:18px">“Have you cake and eat it too”</b><br />-->
                    Sometimes hosting an event is more stress than not. You probably would have preferred to be in your pyjamas all day watching that episode on Netflix that you fell asleep to last week. Event Bid wants to give you that feeling of popping a bottle of champagne, laughing with friends, eating too much and sore feet from standing too long. Let someone else do all the work for you and be the guest at your own party. Event Bid believes that you can truly have your cake and eat it too.
                   <br /><br />
                </p>
            </div><div class="quote"><p>“have your cake and eat it too ”</p></div><div class="clearfix"></div>

            <div class="text text-about-left">
                <p>
                    <!--<b style="font-size:18px">“Have you cake and eat it too”</b><br />-->
                    Do you have that side hustle you love? <br/>
                    Is it for a bit of extra cash on the side? <br/>
                    Do you do it just because you love it? <br/>
                    Or are you trying to eventually quit your 9-5?<br/>

                    Whatever it may be, you should share your skills and your passions with those who actually need it. We want to help support your business and nurture your talents. We understand that it’s hard to spend time and money marketing yourself to get those jobs, we want to do all that for you. Let the jobs come to you and all you have to do is put your hand up for it. We want you to be able to do what you love and love what you do.
<br /><br />
                    <!--<b style="font-size:18px">“Have you cake and eat it too”</b>--><br />
                </p>
            </div><div class="quote quote-right"><p>“Love what you do, do what you love”</p></div><div class="clearfix"></div>

            <div class="about-three">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="app/images/detail-banner.jpg">
                            <p class="text-center">
                                Are you a baker
                            </p>
                            <p class="text-center" data-ng-show="!loginIndicator">
                                <a data-ng-click="openSignupModal()">Sign up in patisseries</a></p>
                        </div>
                        <div class="col-sm-4">
                            <img src="app/images/detail-banner.jpg">
                            <p class="text-center">
                                A mover and shaker?
                            </p>
                            <p class="text-center" data-ng-show="!loginIndicator">
                                <a data-ng-click="openSignupModal()">Sign up in entertainment and talent</a></p>
                        </div>
                        <div class="col-sm-4">
                            <img src="app/images/detail-banner.jpg">
                            <p class="text-center">
                                A movie maker?
                            </p>
                            <p class="text-center" data-ng-show="!loginIndicator">
                                <a data-ng-click="openSignupModal()">Sign up in photography and videography</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>