<div class="content-body">
    <div class="eb-inner-banner">
        <div class="caption">
            <h1>About us</h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">About us</li>
            </ol>
        </div>
    </div>

    <div class="about-vision">
        <div class="content">
            <!--<h3 class="title">The EventBid Vision</h3>-->
            <div class="text">
                <p>
                    <!--<b style="font-size:18px">“Have you cake and eat it too”</b><br />-->
                    Sometimes hosting an event is more stress than not. You probably would have preferred to be in
                    your pyjamas all day watching that episode on Netflix that you fell asleep to last week. Event Bid
                    wants to give you that feeling of popping a bottle of champagne, laughing with friends, eating too
                    much and sore feet from standing too long. Let someone else do all the work for you and be the
                    guest at your own party. Event Bid believes that you can truly have your cake and eat it too.<br /><br />
                  
                </p>
            </div><div class="quote"><p>“Love what you do, do what you love ”</p></div><div class="clearfix"></div>

            <div class="text text-about-left">
                <p>
                    <!--<b style="font-size:18px">“Have you cake and eat it too”</b><br />-->
                    Sometimes hosting an event is more stress than not. You probably would have preferred to be in
                    your pyjamas all day watching that episode on Netflix that you fell asleep to last week. Event Bid
                    wants to give you that feeling of popping a bottle of champagne, laughing with friends, eating too
                    much and sore feet from standing too long. Let someone else do all the work for you and be the
                    guest at your own party. Event Bid believes that you can truly have your cake and eat it too.<br /><br />
                    <!--<b style="font-size:18px">“Have you cake and eat it too”</b>--><br />
                </p>
            </div><div class="quote quote-right"><p>“Have you cake and eat it too ”</p></div><div class="clearfix"></div>

            <div class="about-three">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="app/images/detail-banner.jpg">
                            <p class="text-center">
                                Are you a mover and
                                shaker?
                            </p>
                            <p class="text-center"><a href="#">Signup in Entertainment</a></p>
                        </div>
                        <div class="col-sm-4">
                            <img src="app/images/detail-banner.jpg">
                            <p class="text-center">
                                Are you a mover and
                                shaker?
                            </p>
                            <p class="text-center"><a href="#">Signup in Patisserie</a></p>
                        </div>
                        <div class="col-sm-4">
                            <img src="app/images/detail-banner.jpg">
                            <p class="text-center">
                                Are you a mover and
                                shaker?
                            </p>
                            <p class="text-center"><a href="#">Signup in Videography</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>