<div class="company-overview">
    <div class="content-body">
        <div class="sub-banner">
            <div class="banner-overlay">
                <div class="heading">about us</div>
            </div>
        </div>
        <div class="about-eventbid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <img src="app/images/overview-company-overview.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h2 class="heading">About Event Bid</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fivecenturies. </p>
                        <p>
                            Into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--   <div class="about-clickread">
            <div class="container">
                <div class="section">
                    <div class="page-title">
                        <p>simply dummy text </p>
                        <h2>Lorem Ipsum</h2>
                    </div>
           
                    <div class="row">
                        <div class="col-sm-12 hub-head text-center">
                        </div>
                    </div>
                    <div class="row hub-thumbnails" data-ng-repeat="item in blogList | limitTo: 6">
                        <div class="col-sm-4">
                            <div class="hub-post">
                                <div class="post-hub-pic">
                                    <a data-ng-click="openBlogDetailPopup(item)" class="eb_blog_bg" style="background-image: url({{item.blog_image}});">
                                        <div class="post-hub-content">
                                            <p class="hub-tag">{{item.blog_sub_title}}</p>
                                            <h3>{{item.blog_title}}</h3>
                                            <p class="post-desc">{{item.blog_description}}</p>
                                            <p class="post-read">
                                                Read More
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="about-info">
            <div class="about-three">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="app/images/detail-banner.jpg">
                            <p class="text-center">
                                Are you a baker
                            </p>
                            <p class="text-center" data-ng-show="!loginIndicator">
                                <a data-ng-click="openSignupModal()">Sign up in patisseries</a></p>
                        </div>
                        <div class="col-sm-4">
                            <img src="app/images/detail-banner.jpg">
                            <p class="text-center">
                                A mover and shaker?
                            </p>
                            <p class="text-center" data-ng-show="!loginIndicator">
                                <a data-ng-click="openSignupModal()">Sign up in entertainment and talent</a></p>
                        </div>
                        <div class="col-sm-4">
                            <img src="app/images/detail-banner.jpg">
                            <p class="text-center">
                                A movie maker?
                            </p>
                            <p class="text-center" data-ng-show="!loginIndicator">
                                <a data-ng-click="openSignupModal()">Sign up in photography and videography</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="section full-text">
                    <h2 class="heading">Event Bid</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div> -->
        </div>
    </div>
</div>