<script>
  $(function() {
  $(".expand").on( "click", function() {
    $(this).next().slideToggle(200);
    $expand = $(this).find(">:first-child");

    if($expand.text() == "+") {
      $expand.text("-");
    } else {
      $expand.text("+");
    }
  });
});
</script>
<script>
    
</script>

<div class="content-body">
    <div class="eb-inner-banner">
        <div class="caption">
            <h1>Frequently Asked Questions</h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">FAQ</li>
            </ol>
        </div>
    </div>
    <div class="container-about">
        <div class="section company-overview">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="integration-list">
                            <ul>
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow">+</div>
                                        <div>
                                            <h2><b>When do Newborn Boxes ship? How long does it take?</b></h2>
                                        </div>
                                    </a>

                                    <div class="detail">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow">+</div>
                                        <h2><b>Can I buy a one-time box?</b></h2>
                                    </a>

                                    <div class="detail">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow">+</div>
                                        <h2><b>How do I pause/skip my subscription?</b></h2>
                                    </a>

                                    <div class="detail">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow">+</div>
                                        <h2><b>How do I cancel my subscription?</b></h2>
                                    </a>

                                    <div class="detail">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     

       




    </div>


</div>