<div class="content-body">
    <div class="eb-inner-banner">
        <div class="caption">
            <h1>Privacy Policy</h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">Privacy Policy</li>
            </ol>
        </div>
    </div>
    <div class="container privacy-page">
        <div class="section company-overview">
            <div class="row">
                <h4>1. Overview</h4>
<p>In this Privacy Policy (Policy), &#39;us&#39;, &#39;we&#39; or &#39;our&#39; means Event Bid Holdings Pty Ltd
(ACN 622 042 853).
Your privacy is important to us and we are committed to protecting your privacy in
accordance with the Privacy Act 1988 (Cth), which includes the Australian Privacy
Principles.
This Policy outlines how we collect, use, disclose and store your personal
information. This Policy will also let you know how you can access that information. It
applies to all personal information collected via our website eventbid.com.au (Site)
and social media accounts, including Facebook, Snapchat, Instagram (together,
Online Services).
Please read this Policy carefully and contact us using the details below if you have
any questions.</p>
<h4>2. Consent</h4>
<p>BY PROVIDING PERSONAL INFORMATION, YOU CONSENT TO US
COLLECTING, USING, STORING AND DISCLOSING YOUR PERSONAL
INFORMATION IN ACCORDANCE WITH THIS POLICY OR AS REQUIRED OR
PERMITTED BY LAW.
You may refuse to give us your consent, and you may withdraw your consent, to
some or all of the purposes in this Policy.
If you do not give us your consent, or withdraw your consent, in whole or part:
(a) we may not be able to provide our Online Services to you; and
(b) you may need to stop using our Online Services.
HOWEVER, IF YOU CONTINUE USING OUR ONLINE SERVICES, THEN WE WILL
TREAT YOUR USE AS YOUR CONSENT TO US HANDLING YOUR PERSONAL
INFORMATION IN ACCORDANCE WITH THIS POLICY.</p>
<h4>3. The types of information we collect
Personal information</h4>
<p>Personal information is information or an opinion about you which identifies you, or
from which you can be reasonably identified.
We collect the following types of personal information about you:
your name, gender, email address, age, date of birth, address and occupation;
your device ID, device type and information, geo-location information, computer and
connection information, statistics on page views, traffic to and from the sites, ad data,
Internet Protocol (IP) address and standard web log information;
details of products or services which we have provided to you or about which you have
enquired;

information contained in any communications between you and us;
information you provide if you participate in a survey, promotion or competition; and
any other personal information you provide us when your access our Online Services.</p>
<h4>4. Why we collect and use your personal information</h4>
<p>We collect and use your personal information through lawful and fair means so we
can perform our business activities and functions, including supplying you with our
Online Services
Your personal information is collected and used for the following purposes:
to provide you with our products and services;
to give you information about our products and services;
to interact with you;
to administer surveys;
to send you promotional and marketing information about our products and services;
to administer rewards or other promotional activities sponsored or managed by us;
to develop, improve and market our products and services;
to conduct product and market research;
to develop consumer insights so we can better understand your preferences and
interests, personalise your experience and enhance the products and services you
receive;
to send you service, support and administrative messages, reminders, technical notices,
updates, security alerts and information requested by you;
to perform administrative and operational functions;
to comply with any legal requirements;
for any related purpose for which we are entitled to use your personal information; and
for any other purpose for which you give your consent.</p>
<h4>5. How we collect your personal information</h4>
<p>You give it to us
We collect personal information directly from you when you:
use our Online Services;
set up an account with us;
communicate with us;
share personal information with us from other applications, social media, websites or
services;

participate in one of our surveys, promotions or competitions; or
purchase one of our products or services.
We collect it
We also use cookies to collect personal information when you use our Site.
Cookies are small data files transferred onto computers or devices by websites.
When you use or access our Site, we may collect information by sending and storing
cookies from our Site to your device.
Cookies tell us when you visit our Site, which pages you visit and the information you
downloaded. They also remember your details and preferences so you can easily
continue your browsing session when you return to our Site.
If you do not want to activate Cookies, you can opt-out of receiving them by amending
the settings of your internet browser, however, you may find that some parts of our
Site will have limited functionality and personalisation if you do so.</p>
<h4>6. Dealing with us anonymously</h4>
<p>You may choose to deal with us anonymously or using a pseudonym in certain
circumstances, such as when you contact us to make a general enquiry.
In most circumstances, however, at a minimum we need your name and contact
details to allow us to handle your enquiry or request.</p>
<h4>7. Disclosing your personal information and who might have access
Within Australia<h4>
<p>We may disclose your personal information to the following third parties for the
purposes described in this Policy:
our employees, related entities and employees of those entities;
our professional advisers;
third parties and contractors who provide services to us, including information technology
service providers;
any third parties authorised by you to receive information held by us; and
government, regulatory and law enforcement agencies as required, authorised or
permitted by law.
Outside Australia
We do not disclose your personal information to overseas recipients.</p>
<h4>8. Using your personal information for direct marketing</h4>
<p>We may use your personal information to contact you via phone, SMS, email or mail
to promote and market our products and services.

By providing us with your personal information, you consent to us contacting you for
direct marketing purposes, even if you have registered your home, mobile and/or fax
number on the Do Not Call Register.
You can opt-out from being contacted by us or our business partners for direct
marketing by emailing &#39;unsubscribe&#39; to unsubscribe@eventbid.com.au or sending an
SMS with &#39;unsubscribe&#39; to 0433 585 465.</p>
<h4>9. Security</h4>
<p>We hold your personal information in electronic form, in databases that are owned
and operated by our third party service providers.
We protect the personal information we hold through encryption, firewalls and login
password protocols, secure and access-controlled premises and by monitoring staff
access.
While we take reasonable steps to ensure your personal information is protected
from loss, misuse and unauthorised access, modification or disclosure, security
measures over the internet can never be guaranteed. This means we cannot
guarantee the security of your personal information. In the event of a data breach,
we will comply with the required data breach reporting laws.</p>
<h4>10. Links to third party websites/platforms</h4>
<p>Our Online Services may contain links to websites, other apps and social media
platforms operated by third parties.
Those links are provided for convenience and may not remain current or be
maintained. Unless stated otherwise, we are not responsible for the privacy practices
of, or any content on, those linked websites, and have no control over or rights in
those linked websites.
The privacy policies that apply to third parties&#39; websites may differ substantially from
this Policy, so we encourage you to read those privacy policies before using those
websites.</p>
<h4>11. Accessing or correcting your personal information</h4>
<p>Accessing your personal information
If you would like to access your personal information, please contact us using the
details below.
While we try to give you access to your personal information free of charge, we may
charge you a reasonable fee to cover costs associated with:
searching for, locating and retrieving your personal information; and
reproducing and sending you your personal information.
In certain circumstances, we may not be able to give you access to your personal
information. In these circumstances, we will write to you to explain why we cannot
comply with your request.
We will try to respond to your request for access within 14 days of receiving your
request.
Correcting your personal information

We try to ensure any personal information we hold about you is accurate, up-to- date,
complete and relevant.
If you believe the personal information we hold about you is inaccurate, out-of- date,
incomplete, irrelevant or incorrect, please contact us using the details below and we
will take reasonable steps to ensure it is corrected.
We will try to respond to your request for correction within 14 days of receiving your
request.</p>
<h4>12. Destroying or de-identifying personal information</h4>
<p>We destroy personal information when we no longer need it, unless we are otherwise
required or authorised by law to retain the information.</p>
<h4>13. Making a complaint</h4>
<p>If you believe your privacy has been breached or you have a complaint about our
handling of your personal information, please contact us using the details below.
We take privacy complaints seriously. If you make a complaint, we will respond within
7 days to advise you of the person responsible for managing your complaint. We will
try to resolve your complaint within 30 days. When this is not reasonably possible, we
will contact you within that time to let you know how long we will take to resolve your
complaint.
We will investigate your complaint and, where necessary, consult with third parties
about your complaint. We will decide how to address your complaint and write to you
to explain our decision.
If you are not satisfied with our decision, you can refer your complaint to the Office of
the Australian Privacy Commissioner. Details about how to file a complaint can be
found at www.oaic.gov.au.</p>
<h4>14. Changes</h4>
<p>We may, from time to time, amend this Policy, in whole or part, in our sole discretion.
Any changes to this Policy will be effective immediately upon the posting of the revised
Policy on our Site.
Depending on the nature of the change, we may announce the change on our Site home
page or by email (if we have your email address). However, in any event, by
continuing to use the Online Services following any changes, you will be deemed to
have agreed to such changes.</p>
<h4>15. Contact us<h4>
<p>All questions or queries about this Policy and complaints should be directed to:
Privacy Officer
0433 585 465
rebecca@eventbid.com.au</p>
            </div>



        




    </div>


</div>