<div class="content-body">
    <div class="eb-inner-banner">
        <div class="caption">
            <h1>Terms and Conditions</h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">Terms and Conditions</li>
            </ol>
        </div>
    </div>
    <div class="container">
        <div class="section company-overview">
            <div class="row">
                <div class="col-sm-5">
                    <img src="app/images/overview-company-overview.jpg" alt="">
                </div>
                <div class="col-sm-7">
                    <h2 class="heading">About Event Bid</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fivecenturies. </p>
                    <p>
                        Into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>

        <div class="section MT60">
            <div class="page-title">
                <p>simply dummy text </p>
                <h2>Lorem Ipsum</h2>
            </div>

            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <div class="ThumbnailPost">
                        <div class="Thumbnail_img">
                            <a href="#"><img src="app/images/Thumbnail_img.jpg" alt=""></a>
                        </div>
                        <div class="caption">
                            <h4><a href="#">Lorem Ipsum is simply</a></h4>
                            <p>Standard dummy text </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="ThumbnailPost">
                        <div class="Thumbnail_img">
                            <img src="app/images/Thumbnail_img_2.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h4>Lorem Ipsum is simply</h4>
                            <p>Standard dummy text </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="ThumbnailPost">
                        <div class="Thumbnail_img">
                            <img src="app/images/Thumbnail_img_3.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h4>Lorem Ipsum is simply</h4>
                            <p>Standard dummy text </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section full-text">
            <h2 class="heading">Event Bid</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>




    </div>


</div>