<div class="content-body">
    <div class="eb-inner-banner">
        <div class="caption">
            <h1>Terms and Conditions</h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">Terms and Conditions</li>
            </ol>
        </div>
    </div>
    <div class="container terms-condition-page">
        <div class="section company-overview">
            <div class="row">
                <h4>1. Introduction</h4><p style="font-size:16px;">
                    (a) The Site is owned and operated by Event Bid. The Site operates as a facilitation
                    platform that allows Customers and Suppliers to connect and transact directly.<br>
                    (b) Access to and use of the Site is subject to these Terms.<br>
                    (c) Please read these Terms carefully. By clicking 'I agree' you signify you have read,
                    understood and agree to be bound by the Terms.<br>
                    (d) If you do not agree to these Terms, as amended from time to time, in whole or in
                    part, you must not use the Site.
                </p><h4>2. How it works</h4><p><b>2.1 Standard Services</b></p>
                <p>
                    (a) Customers can request Services by creating and publishing a Posted Task through
                    their Account. Posted Tasks cannot be published unless all required fields are
                    completed.<br>
                    (b) Suppliers can browse, and make Offers in response to, Posted Tasks.<br>
                    (c) Customers can modify or cancel a Posted Task at any time before accepting an
                    Offer.<br>
                    (d) Customers can accept an Offer by following the prompts through the Site. We will
                    notify Suppliers by email if their Offer is accepted by a Customer.<br>
                    (e) If an Offer is accepted, a Services Agreement is formed, at which point the Customer
                    must pay the Services Fees. A Services Agreement cannot be amended once it is
                    formed.<br>
                    (f) The Customer must notify us once a Supplier completes Services by pressing the
                    'job done' button on the Site.
                </p>
                <p><b>2.2 Agency Services</b></p>
                <p>
                    (a) Customers can appoint an Event Bid Manager to:<br>
                    (i) distribute a Functions Form to Suppliers; and<br>
                    (ii) provide them with details of Offers made in response to a Functions Form. The Event
                    Bid Manager will provide Customers with Offers received within forty-eight (48) hours
                    of receiving a Functions Form.<br>
                    (b) Before a Services Agreement is formed, Customers can change the details of a
                    Function Forms by emailing ebmanager@eventbid.com.au.<br>
                    (c) A Services Agreement is formed upon the Customer providing the Event Bid
                    Manager its written acceptance of an Offer, at which point the Customer must pay
                    the Service Fees and the Agency Fees. The Event Bid Manager will send a Supplier
                    an email notification if a Customer accepts their Offer.<br>

                    (d) A Supplier or Customer must notify the Event Bid Manager if either party wishes to
                    vary a Services Agreement once it is formed (Change Request). Within a
                    reasonable time of receiving a Change Request, the Event Bid Manager will notify
                    the party which has made the Change Request whether the Change Request has
                    been accepted or rejected by the other party. A Change Request that is accepted by
                    the other party will come into effect on and from the date the Event Bid Manager
                    receives written notice from the other party of its acceptance of the Change Request.
                    If the Change Request is rejected by the other party, then the Services Agreement
                    will remain as is. Neither party can make a Change Request less than seven (7) days
                    prior to the date of an Event.<br>
                    (e) The Customer must notify us by once a Supplier completes Services by pressing the
                    'job done' button on the Site.
                </p>
                <p><b>2.3 Reviews</b></p>
                <p>
                    Within forty-eight (48) hours of completion of the Services:<br>
                    (a) Customers and Suppliers can leave a review of the other; and<br>
                    (b) a Customer who has acquired Agency Services can leave a review of the Event
                    Manager,
                    (together, Reviews).

                </p><h4>3. About us</h4><p>
                    (a) Our role is limited to providing the Event Bid Services. We are not a party to any
                    contractual relationship between Registered Users.<br>
                    (b) By accessing and using the Site, you agree and acknowledge that:<br>
                    (i) we are not responsible for any interactions or dealings between Registered Users
                    and your interactions with other Registered Users (whether in person or online)
                    and your provision or acquisition of Services is at your own risk;<br>
                    (ii) we reserve the right, but are not obliged, to:<br>
                    (A) conduct background searches or criminal record checks on Registered Users;<br>
                    (B) verify the identity, qualifications or insurance policies of Registered Users; or<br>
                    (C) assess the suitability of Registered Users;<br>
                    (iii) we do not guarantee the existence, availability, suitability or safety of the Services;<br>
                    (iv) we are not responsible for Events, including the conduct and management of Events;<br>
                    (v) we do not guarantee Customers or Suppliers will comply with the terms of a Services
                    Agreement;<br>
                    (vi) we do not determine your tax liability or collect or pay taxes you may be liable to pay
                    as a result of or in connection with your use or provision of the Event Bid Services;<br>
                    (vii) we have no obligation to assist or involve ourselves in disputes between Registered
                    Users;<br>

                    (viii) we reserve the right, but are not obliged, to monitor, review, verify, edit, modify or
                    delete User Content and we do not control the accuracy of User Content; and<br>
                    (ix) subjected to the limited agency created by clause 2.2(a), these Terms do not create
                    an employment, agency, partnership or joint venture relationship between us and any
                    Registered User.
                </p><h4>Accessing Event Bid Services</h4>
                <p>
                    <b>4.1 Registration</b>
                    </p>
                <p>
                    (a) You can access some functions of the Site without an Account however you can only
                    access Event Bid Services if you are a Registered User with an Account.<br />
                    (b) You are eligible to become a Registered User and create an account if:<br />
                    (i) you are at least 18 years;<br />
                    (ii) you are a natural person, although you can specify at the time of creating your<br />
                    account if you are representing an entity; and<br />
                    (iii) you have the capacity to enter into a legally binding agreement.<br />
                    (c) To create an account, you must:<br />

                    (i) provide certain information, including your name and contact details;<br />
                    (ii) provide Paypal with all information required by Paypal to process<br />
                    payments to or from your bank account; or enter in your correct
                    debit/credit card details in order to process payments to or from your bank
                    account<br />
                    (iii) complete, to our satisfaction any required verification process. This may
                    involve you providing us with certain identification information, such as
                    details of your qualifications or current policies of insurance you hold;<br />
                    (iv) create a user name and password; and<br />
                    (v) agree to the Terms.<br />
                    (b) The information you provide us when creating an account must be accurate and
                    complete. We will handle all personal information we collect in accordance with
                    our Privacy Policy. Paypal will handle all personal information it collects in
                    accordance with its privacy policy.<br />

                    (d) By creating an account, you represent and warrant to us that each of the following
                    statements is true:<br />
                    (i) you have the right and capacity to agree to these Terms; and<br />
                    (ii) if you are agreeing to these Terms on behalf of an entity, that entity is taken to have
                    agreed to these Terms and you are taken to have the power and authority to bind the
                    entity; and<br />
                    (iii) your use of the Event Bid Services will be in accordance with all applicable Laws and
                    these Terms.<br />

                    (e) Within a reasonable time of creating an account, we will notify you of whether your
                    account has been registered. If we accept your application for registration of an
                    account, you will become a Registered User and you will have your own Account
                    accessible through the Site.<br />
                    (f) We reserve the right to reject an application for an account for any reason without
                    notice.
                </p>
                <p><b>4.2 Your Account</b></p>
                <p>
                    (a) You are responsible for maintaining the confidentiality and integrity of your
                    Account, including taking all necessary steps to keep your username and
                    password secure, and for all use and activity carried out on your Account.<br />
                    (b) If you believe or suspect there has been unauthorised access to your Account,
                    we suggest you change your password and contact us.<br />
                    (c) You must keep your Account information up-to- date and accurate at all times.<br />
                    (d) You are responsible for entering in the correct credit or debit card details into your
                    account to ensure the payment is processed in the correct account.
                </p>

                <p><b>4.2 Insurance and qualifications</b></p>
                <p>
                    (a) At the time of registering an Account, Suppliers may provide us with evidence of their
                    qualifications or current policies of insurance which they hold.<br />
                    (b) If we have verified that a Supplier has certain qualifications or currently holds a policy
                    of insurance, then:<br />
                    (i) the Supplier will qualify as a verified user for the purposes of the App;<br />
                    (ii) the Supplier&#39;s verified status will appear on each Offer the Supplier makes; and<br />
                    (iii) in relation to insurance, we will keep a record of the expiration date of the policy and
                    notify the Supplier one (1) month and one (1) day before the policy expires.<br />
                    (c) In relation to insurance, if a Supplier fails to:<br />
                    (i) maintain current insurance; or<br />
                    (ii) provide us with evidence they holder current insurance,
                    then the Supplier&#39;s verified status will be revoked.<br />

                    (d) In relation to qualifications, the Supplier&#39;s verified status will be revoked if we
                    reasonably believe the Supplier does not have the relevant qualifications.
                </p>
                <p><b>4.3 Communication</b></p>
                <p>
                    (a) Registered Users can only share information and content, including their personal
                    information, once a Services Agreement is formed.
                    (b) For privacy and security reasons, Registered Users must not share any information
                    or content in any public areas of the Site. We reserve the right to remove without
                    notice information or content that is disclosed in contravention of this clause 4.4(b).
                </p>
                <h4>5. Supplier obligations</h4>

                <p>
                    Suppliers must:
                    (a) perform the Services with due care and skill and with appropriately skilled and
                    qualified Service Personnel in a diligent and professional manner;
                    (a) control, co-ordinate, supervise, direct and complete all activities necessary to
                    perform the Services;

                    (b) set the amount of the Services Fees;
                    (c) not request payments from Customers outside the Site;
                    (d) not charge a Customer with whom they enter into a Services Agreement fees in
                    addition to the Supplier Fees;
                    (e) provide the Services at the Supplier&#39;s own expense;
                    (b) perform the Services personally, unless otherwise agreed by the Parties in
                    writing;

                    (f) comply with all applicable Laws and standards; and
                    (g) obtain and keep current any consents, licences, approvals, permits, registrations,
                    authorisations, insurances and exemptions required by Law to perform the Services
                    under the relevant Services Agreement.
                </p>
                <h4>6. Customer obligations</h4>
                <p>
                    Customers must:
                    (a) ensure Posted Tasks and Function Forms are complete and accurate;
                    (b) provide a Suppliers with such information, facilities and assistance as the Supplier
                    reasonably requires to perform its obligations under the Services Agreement; and
                    (c) comply with all Laws.
                </p>
                <h4>7. Fees and payments</h4>
                <p><b>7.1 Fees and payment terms</b></p>
                <p>
                    (a) Customers must pay the Service Fees and, if applicable, the Agency Fees on
                    acceptance of an Offer.
                    (b) Suppliers must pay us the Standard Service Fees.
                    (c) Within twenty-four (24) hours of receiving notice that the Services are compete, we
                    will instruct Paypal to:
                    (i) release the Supplier Fees to the Supplier; and
                    (ii) release the Standard Service Fees and, where applicable, the Agency Fees to us.
                </p>
                <p><b>7.2 Payment method</b></p>
                <p>
                    (a) All payments through the Site are processed through the payment gateway provided
                    by Paypal. We do not have access to or store your payment information.

                    (b) The Service Fees is collected by Paypal from the Customer and transferred to the
                    Supplier (less the Standard Service Fees, Agency Fees and Paypal fees) in
                    accordance with these Terms.
                    (c) You must ensure the financial information you provide Paypal is accurate, complete
                    and up to date. You must update this information to ensure it remains up to date.
                    (d) By using the Event Bid Services, you agree to be bound by Paypal&#39;s terms and
                    conditions.
                </p>
                <p></b>7.3 Non-payment</b></p>
                <p>
                    (a) If you fail to pay any amounts due to us under these Terms, we reserve the right to:
                    (i) suspend or terminate your access to the Site, including access to your Account;
                    and/or
                    (ii) refer the matter to a solicitor or debt collection agency.
                    (b) You must indemnify us on an indemnity basis for any Losses we suffer as a result of
                    or in connection with us exercising our right under clause 7.3(a).
                </p>
                <h4>8. Cancellations and refunds</h4>
                <p>
                    (a) If a Customer or Supplier wish to cancel a Services Agreement once it is formed
                    (Cancellation Request), either of them must notify us (Cancellation Request).
                    (b) A Services Agreement will be cancelled if we accept a Cancellation Request.
                    (c) If a Customer cancels a Services Agreement less than ten (10) calendar days before
                    the date of an Event, then:
                    (i) 5% of the Service Fees will be paid to us as an administrative fee;
                    (ii) 15% of the Service Fees will be paid to the Supplier; and
                    (iii) the remainder of the Service Fees will be refunded to the Customer.
                    (d) If a Supplier cancels a Services Agreement at any time, then:
                    (i) the Supplier must pay 5% of the Service Fees to us as an administrative fee;
                    (ii) the Customer will be refunded the Services Fees.
                    (a) All refunds and/or payments payable under this clause 8 will be processed by
                    Paypal in accordance with its terms and conditions.
                </p>
                <h4>9. Acceptable use</h4>
                <p></b>9.1 User obligations</b></p>
                <p>
                    In addition to any other obligations under these Terms, you must:
                    (a) use the Site for lawful purposes only;
                    (b) not interfere with the privacy of, harass, intimidate, act violently or inappropriate
                    towards or be discriminatory against another person;

                    (c) not infringe any Intellectual Property Rights or any other contractual or proprietary
                    rights of another person;
                    (d) not do any act, engage in any practice or omit to do any act or engage in any practice
                    that:
                    (i) is or could reasonably be considered obscene, illegal, offensive, inappropriate,
                    defamatory, indecent, threatening or objectionable in any way;
                    (ii) is harmful to our systems, reputation or good will;
                    (iii) would cause us to breach or to be taken to breach a Law or that might subject us to
                    regulatory action;
                    (iv) would bring us into disrepute; or
                    (v) interferes with the integrity or supply of the Site.
                </p>
                <p></b>9.2 User Content</b></p>
                <p>
                    (a) You are solely responsible for User Content:

                    (i) you post, publish or otherwise transmit through the Site; and
                    (ii) you obtain through accessing the Site.

                    (b) User Content you create, generate, disseminate or transmit in your use and access
                    of the Site must:
                    (iii) be accurate and complete;
                    (iv) not infringe any third party Intellectual Property Rights or any other
                    contractual or proprietary rights of a third party;
                    (v) not infringe any Law; and

                    (i) not be unlawful, harmful, invasive of privacy, abusive or otherwise objectionable
                    under any Law not transmit, disseminate or distribute any material that is, without
                    limitation.
                    (b) You grant us a royalty free, worldwide, perpetual, irrevocable, non-exclusive,
                    transferable, assignable, sub-licensable licence to use, reproduce, modify,
                    remove, copy, store and exploit your User Content for our business or
                    commercial purposes.

                    <p>1.2 Enforcement</p>
                    We reserve the right, but do not assume the obligation to:
                    (c) remove, screen or edit User Content that violates these Terms or is otherwise
                    objectionable, as determined by us in our sole discretion; and
                    (d) disable the access of a User to all or certain functions of the Site where the User has
                    violated this clause 9, as determined by us in our sole discretion.
                </p>
                <p>
                    1. Intellectual property rights<br />

                    (a) We own or are the licensee of all rights, title and interest (including Intellectual
                    Property Rights) in the Site and in or to the material (including all text, graphics,
                    logos and software) made available to you in providing the Site (together, the Site
                    Content).<br />

                    (b) Your use and access of the Site does not grant or transfer any rights, title or
                    interest to you in relation to the Site Content.<br />

                    (c) You must not modify, copy, distribute, transmit, display, perform, reproduce,
                    publish, license, commercially exploit, create derivative works from, transfer, or
                    sell any Site Content or any other material in whatever form contained within the
                    Site unless expressly provided otherwise in these Terms.<br />
                </p>

                <p>
                    2. Third party links<br />

                    The Site may contain links to websites, materials or resources operated and owned
                    by third parties and not under our control. Those links are provided for convenience
                    only and may not be current or maintained. Unless stated otherwise, we are not
                    responsible for any content on those linked websites and have no control over or
                    rights in those linked websites.<br />
                </p>
                <p>
                    3. Security<br />
                    (a) We will take reasonable steps to ensure supply of the Site is secure. However,
                    given the nature of the Internet, we cannot guarantee that your access to the Site
                    will be secure at all times.<br />
                    (b) You acknowledge and agree that you are solely responsible for:<br />
                    (i) the security, confidentiality and integrity of all information or data
                    uploaded, downloaded or otherwise communicated while accessing the
                    Site, including all your User Content;<br />
                    (ii) keeping all passwords and usernames secure and confidential; and<br />
                    (i) protecting any device you use to access the Site from all security breaches and
                    viruses (or any similar damaging components).<br />
                </p>
                <p>
                    4. Privacy and Data Collection<br />
                    (a) In consideration for us providing you the Site, you agree to us collecting your
                    Personal Information.<br />
                    (b) The Personal Information we collect about you includes:<br />
                    (i) your name, contact details, age, gender or date of birth;<br />
                    (ii) device information, IP address and standard web log on information;<br />
                    (iii) information relating to your preferences and opinions; and<br />
                    (iv) your geolocation.<br />
                    (c) We collect your Personal Information:<br />
                    (i) to provide you optimal use of the Site;<br />
                    (ii) to send you promotional and marketing information relating to our
                    products and services and those of our partners (if you have authorised
                    us to do so);<br />
                    (iii) for purposes reasonably necessary to our usual functions and activities,
                    including planning, service development and research purposes; and<br />
                    (iv) for purposes otherwise outlined in our Privacy Policy.<br />
                    (d) When you have asked us to do so, we will disclose your Personal Information to
                    other Users.<br />
                    (e) We may also disclose your Personal Information to:<br />
                    (i) our Representatives, Related Bodies Corporate and Related Entities;<br />
                    (ii) our business partners;<br />
                    (iii) our third party service providers;<br />
                    (iv) any third parties authorised by you; and<br />
                    (v) government, regulatory authorities and any tribunal or court, if required or<br />
                    authorised by Law, or otherwise with your consent.<br />

                    (f) We do not disclose your Personal Information to third parties located outside of
                    Australia.<br />
                    (g) You can choose not to provide us with your Personal Information. However, if you
                    do not provide us this information we cannot grant you access to the Event Bid
                    Services.<br />
                    (h) Please review our Privacy Policy for more information on:<br />
                    (i) how we store and use your personal information;<br />
                    (ii) our overseas disclosures;<br />
                    (iii) how you may access and correct your Personal Information;<br />
                    (iv) how you can lodge a complaint regarding the handling of your Personal
                    Information; and<br />
                    (v) how we will handle complaints.<br />
                </p>
                <p>
                    5. Disclaimer<br />
                    To the fullest extent permitted by all Laws, you acknowledge and agree that:<br />
                    (a) we do not control, endorse and are not responsible for any User Content;<br />
                    (b) we retain complete control over the Site and may alter, amend or cease the
                    operation of the Site in our sole discretion;<br />
                    (c) we make no warranty or representation that any result or objective can or will be
                    achieved or attained by accessing the Site;<br />

                    (d) we make no warranty or representation that the Site will be fit for purpose,
                    continuous, uninterrupted, accurate, fault-free, virus-free, secure or accessible at
                    all times; and<br />
                    (e) we may remove any content, material and/or information, including User Content,
                    without giving any explanation or justification for removing the material and/or
                    information.<br />
                </p>
                <p>
                    6. Exclusion and limitation of liability<br />
                    (a) To the fullest extent permitted by Law, we are not liable to you or to anyone else
                    for any Loss, including Consequential Loss arising out of or in connection with:<br />
                    (i) personal injury or property damage;<br />
                    (ii) the description, performance or provision of Services;<br />
                    (iii) the conduct or management of Events;<br />
                    (iv) communications from:<br />
                    (A) us, whether in our capacity as Event Bid Manager or otherwise, to
                    Registered Users;<br />
                    (B) Users to us;<br />
                    (C) Users to other Users,
                    that are not received;<br />
                    (v) your use or inability to use the Site;<br />
                    (vi) your use of third party services through the Site, including the services
                    provided by Paypal;<br />
                    (vii) User Content;<br />
                    (viii) the conduct of other Users; and<br />
                    (ix) unauthorised creation, access or use of your personal information,
                    Account or your User Content,
                    even if we have been advised of the possibility of such Loss.<br />
                    (b) To the fullest extent permitted by Law, we exclude all representations, warranties
                    or terms (whether express or implied) other than those set out in these Terms.<br />
                    (c) Pursuant to s64A of the Australian Consumer Law, this clause applies in respect
                    of services that are not of a kind ordinarily acquired for personal, domestic or
                    household use or consumption. Our liability for breach of a guarantee conferred
                    by the Australian Consumer Law (other than those conferred by ss51 to 53 of the
                    Australian Consumer Law) is limited at our option to:<br />
                    (i) the supply of the services again; or<br />
                    (ii) the payment of the direct cost of having the services supplied again.<br />

                    (d) Nothing in these Terms is intended to limit or exclude your consumer guarantees
                    under the Australian Consumer Law.<br />
                </p>
                <p>7. Indemnity<br/>
                    You must indemnify and keep indemnified us, our Representatives Related Bodies
                    Corporate and Related Entities (together, Indemnified Persons) from and against
                    any Loss, including Consequential Loss, incurred by any of the Indemnified Persons
                    from any Claim by any person against any of the Indemnified Persons where such
                    Loss arose directly or indirectly out of or in connection with:
                    (i) any breach of these Terms by you; or
                    (ii) breach by you of any Law of any right of a third party,
                    except to the extent that the Loss is caused or contributed to by the act or omission
                    of any of the Indemnified Persons.
                </p>
                <p>
                    8. Termination<br />
                    (a) We reserve the right to cease operating the Site, without notice and for any
                    reason.<br />
                    (b) We may terminate our relationship with you without notice and with immediate
                    effect if you, in any way, breach these Terms.<br />
                    (c) You may cancel your Account at any time without notice.<br />
                    (d) If one of the events described in clause 17(a), 17(b) or 17(c) occurs, then:<br />
                    (i) access to your Account will expire or cease;<br />
                    (ii) you will not have any access to User Content, including your Account;<br />
                    (iii) we will remove your Account and its related information from the Site; and<br />
                    (iv) all unpaid fees owed by you to us become immediately due and payable.<br />
                    (e) We are not liable for any Losses, including Consequential Losses, arising as a
                    result of terminating your access to the Site.<br />
                </p>
                <p>
                    9. Changes to the Terms<br />
                    (a) We may, from time to time, amend the Terms in whole or part, in our sole
                    discretion and without notice to you except as provided in this clause 18.
                    (b) Any changes to the Terms will be effective immediately upon the posting of the
                    revised Terms on the Site.
                    (c) Depending on the nature of the change, we may announce the change on the
                    Site home page or by email. However, in any event, by continuing to use the Site
                    following any changes, you will be deemed to have agreed to such changes.
                </p>
                <p>
                    10. Severability<br />

                    If any part of these Terms is void, unlawful or unenforceable, then that part will be
                    ineffective to the extent it is void, unlawful or unenforceable, without affecting the
                    validity and enforceability of any remaining provisions.
                    11. Jurisdiction
                    (a) This Agreement is governed by the Law in force in Victoria, Australia.
                    (b) The parties submit to the exclusive jurisdiction of the courts of Victoria, Australia.
                    10. Definitions and interpretation
                    10.1 Definitions
                    In these Terms:
                    Agency Services means services in addition to the Standard Services offered by us
                    to Customers in consideration for the Agency Fees, and includes those services
                    described in clause 2.2;
                    Agency Fees means in consideration for providing the Agency Services, the amount
                    we charge Customers each time they request Agency Services calculated as follows:
                    (a) for the first time the Customer requests us to provide Agency Services, 15% of
                    the Services Fees;
                    (b) for the second time the Customer requests us to provide Agency Services, 12%
                    of the Services Fees;
                    (c) for the third time and all other times thereafter the Customer requests us to
                    provide Agency Fees, 10% of the Services Fees;
                    Paypal means Paypal Australia Pty Ltd (ABN 93 111 195 389) and, as the context
                    requires, includes its Related Bodies Corporate, Related Entities and
                    Representatives;
                    Australian Consumer Law means Schedule 2 of the Competition and Consumer
                    Act 2010 (Cth);
                    Account means an account created by a User on the Site that is registered in
                    accordance with clause 4.1(f);
                    Claim means any allegation, debt, cause of action, liability, claim, proceeding, suit or
                    demand of any nature whether present or future, fixed or unascertained, actual or
                    contingent, at Law, in equity, under statute or otherwise;
                    Consequential Loss means any:
                    (a) indirect or consequential loss;
                    (a) special, incidental, exemplary or punitive damages;
                    (b) economic loss;
                    (c) regulatory fines;
                    (d) loss of use;

                    (e) loss of revenue;
                    (f) damage to reputation or loss of goodwill;
                    (g) loss of profit;
                    (h) loss of anticipated savings or cost of capital;
                    (i) business interruption losses;
                    (j) claims of customers or other third parties for failure of supply;
                    (k) costs of procurement or substitution of technology or services;
                    (l) loss of information or data (including the costs of recovering or reconstructing any
                    lost or corrupted data);
                    Corporations Act means the Corporations Act 2001 (Cth);
                    Customer means a Registered User who wishes to acquire Services;
                    Event means an event a Customer wishes to hold, whether for itself or on behalf of a
                    third party, and in relation to which the Customer requires Services;
                    Event Bid, our, us or we means Event Bid Holdings Pty Ltd (ACN 622 042 853)
                    trading as Event Bid, and includes its Representatives, Related Bodies Corporate
                    and Related Entities;
                    Event Bid Manager or EB Manager means a Representative of Event Bid appointed
                    by the Customer in accordance with clause 2.2(a);
                    Event Bid Services means:
                    (a) Standard Services;
                    (b) Agency Services; and
                    (c) any other services offered by us on the Site from time to time;
                    Functions Form means a form available to Registered Users on the Site which
                    details all relevant information relating to the required Services;
                    GST has the meaning given to it in the A New Tax System (Goods and Services Tax)
                    Act 1999 (Cth);
                    Intellectual Property Rights includes all industrial and intellectual property rights,
                    and includes any patents, registered designs, copyright (including future copyright),
                    trade or service marks (whether registered or unregistered), trade secrets, know-
                    how, rights in relation to circuit layouts, or other proprietary right, and applications for,
                    and rights to apply for, registration of any of the foregoing;
                    Laws means any rules of common law, principles of equity, international, federal,
                    state and local laws, statutes, rules, regulations, proclamations, ordinances and by-
                    laws and other subordinate legislation;
                    Loss or Losses means loss, damage, liability, charge, expense, outgoing, payment
                    or cost of any nature or kind, including all legal and other professional costs;

                    Offer means an offer made by a Supplier who is a Registered User to:
                    (a) a Customer who is a Registered User in response to a Posted Task;
                    (m) us as agent for a Customer who is a Registered User in response to a Functions
                    Form;
                    Posted Task means a request for Services published by a Customer using the Event
                    Bid Services;
                    Personal Information has the meaning given to it by the Privacy Act;
                    Privacy Act means the Privacy Act 1988 (Cth);
                    Registered User means a User who registers an Account in accordance with clause
                    4.1;
                    Representative means any person acting for or on behalf of us and includes any of
                    our directors, officers, employees, agent, contractor or sub-contractor;
                    Review has the meaning given to it by clause 2.3 and Reviews has the
                    corresponding meaning;
                    Related Bodies Corporate has the meaning given to it by the Corporations Act;
                    Related Entities has the meaning given to it by the Corporations Act;
                    Service Personnel means those employees or contractors engaged by the Supplier
                    for the purposes of providing Services to the Customer;
                    Services means services a Customer wishes to acquire from a Supplier for an event,
                    as particularised in:
                    (a) a Posted Task; or
                    (b) a Functions Form,
                    ad which a Supplier agrees to supply pursuant to a Services Agreement;
                    Services Agreement means an agreement between a Supplier and a Customer for
                    the supply and acquisition of Services that is formed upon acceptance by a Customer
                    of an Offer;
                    Service Fees means the amount agreed by the Parties and payable by the
                    Customer to the Supplier in consideration for Services supplied pursuant to a
                    Services Agreement;
                    Site means the website located at www.eventbid.com.au and includes any services
                    offered on the Site, including the Event Bid Services;
                    Standard Services means services provided to us through the Site to Registered
                    Users, and includes the services described in clause 2.1;
                    Standard Service Fees means in consideration for providing the Standard Services,
                    the amount we charge Suppliers for each Event in relation to which they provide
                    Services calculated as follows:

                    (a) for the first time the Supplier provides Services using our platform, 15% of the
                    Services Fees;
                    (a) for the second time the Supplier provides Services using our platform, 12% of the
                    Services Fees; and
                    (b) for the third time and all other times the Supplier provides Services using our
                    platform, 10% of the Service Fees;
                    Supplier means a Registered User who wishes to provide Services to a Customer
                    and, as the context requires, includes the Service Personnel;
                    Supplier Fees means the amount of the Service Fees less the Standard Service
                    Fees;
                    Terms means these terms and conditions and our Privacy Policy;
                    User means an individual who accesses the Site, and includes Registered Users;
                    User Content means any material, content, data or information created, generated
                    or transmitted by Users through the Site, including Reviews, Posted Tasks and
                    Function Forms; and
                    You or your is a reference to a person who has agreed to be bound by these Terms.
                    10.2 Interpretation
                    In these Terms:
                    (a) no provision of these Terms will be construed to the disadvantage of a party merely
                    because that party was responsible for preparing these Terms or including the
                    provision in these Terms;
                    (b) all monetary amounts are expressed in Australian Dollars ($AUD) and are inclusive
                    of GST; and
                    (c) the parties must perform their obligations on the dates and times fixed by reference
                    to Melbourne, Victoria.</p>

</div>
        </div>







    </div>


</div>