<div class="content-body">
    <div class="sub-banner">
        <img src="app/images/dashboard-banner.jpg">
        <div class="banner-name-user text-center">
            <h1>Eventbid Blog Detail</h1>
        </div>
    </div>
    <div class="new-blog ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 blog-detail-thumb">
                    <h3 style="margin-top:0px;" class="ng-binding">{{blog.blog_title}}</h3>
                    <p>{{formatDate(blog.updated_at) | date :'dd-MMM-yyyy'}}</p>
                    <p>
                        <i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-yelp"></i><i class="fa fa-google-plus"></i>
                     </p>
                    <img ng-src="{{blog.blog_image}}" alt=" alt="blog detail image">
                </div>
                <div class="col-sm-12">
                    <p style="margin-top:15px;">
                        {{blog.blog_description}}

                    </p>
                </div>
            </div>
            
        </div>
    </div>
</div>