<div class="content-body">
    <div class="sub-banner">
        <img src="app/images/dashboard-banner.jpg">
        <div class="banner-name-user text-center">
            <h1>Eventbid Blog Detail</h1>
        </div>
    </div>
    <div class="new-blog ng-scope">
        <div class="container">
            <div class="row ng-scope">
                
                <div class="col-sm-12 blog-detail-thumb">
                    <h3 style="margin-top:0px;" class="ng-binding">Kid' s Parties</h3>
                    <p>Eevent Bid 20 April 2017</p>
                    <p>
                        <i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-yelp"></i><i class="fa fa-google-plus"></i>


                    </p>
                    <img ng-src="http://api.eventbid.com.au/public/images/1509352304.png" alt="" src="http://api.eventbid.com.au/public/images/1509352304.png">
                </div>
                <div class="col-sm-1">

                </div>

                <div class="col-sm-11">
                    <p style="margin-top:15px;">A iridescent and holographic themed party photoshoot , straight from Russia Lorem ipsum dolor sit amet is the dummy lorem Lorem ipsum dolor sit amet is the dummy lorem ipsum sit amet Lorem ipsum dolor sit amet is the dummy lorem Lorem ipsum dolor sit amet is the dummy lorem ipsum sit amet Lorem ipsum dolor sit amet is the dummy lorem Lorem ipsum dolor sit amet is the dummy lorem ipsum sit amet Lorem ipsum dolor sit amet is the dummy lorem Lorem ipsum dolor sit amet is the dummy lorem ipsum sit amet</p>
                </div>
            </div>
            
        </div>
    </div>
</div>