
<div class="category-page text-center">
    <div class="sub-banner">
        <img src="app/images/category-head.jpg">
    </div>
</div>
<h2 style="text-align:center"><u>Admin Section</u></h2>
<div class="container">
    <div class="row">
        <div class="col-sm-12 admin-btn">

            <input type="button" value="Category management" data-ng-click="openCategorySection()" />
            <input type="button" value="Task management" data-ng-click="openTaskSection()" />
            <input type="button" value="Blog management" data-ng-click="openBlogSection()" />
            <input type="button" value="User management" data-ng-click="openUserSection()" />
            <input type="button" value="payment management" data-ng-click="openPaymentSection()" />
            <input type="button" value="Qualification & Insurance management" data-ng-click="openInsuranceQualificationSection()" />
             <input type="button" value="Transcation history" data-ng-click="openTranscation()" />
        </div>
    </div>
</div>
  <!--category management-->
    <div class="container category-management" data-ng-if="categoryIndicator">
    <div class="row">
        <h4>Category Management</h4>
        <input type="button" value="add category" data-toggle="modal" data-ng-click="openAddCategoryPopup()" />
        <br />
        <b>All categories :</b>

        <ul data-ng-repeat="item in categories">
            <li>
                {{item.name}}
                <img ng-src="{{item.categoryImage}}" alt="" />
                <input type="button" value="delete category" data-ng-click="deleteCategory(item)" />
            </li>
        </ul>
    </div>
</div>
<!--blog management-->
<div class="container admin-blog">
    <div data-ng-if="blogIndicator">
        <div class="row">
            <h4>Blog Management</h4>
            <input type="button" value="add blog" data-toggle="modal" data-ng-click="openAddBlogPopup()" />
            <br />
            <b>All Blogs :</b>
            <ul data-ng-repeat="item in blogList">
                <div class="hub-post">
                    <div class="post-hub-pic">
                        <img ng-src="{{item.blog_image}}">
                    </div>
                    <div class="post-hub-content">
                        <p class="hub-tag">{{item.blog_sub_title}}</p>
                        <p class="post-desc">{{item.blog_description}}</p>
                        <p class="post-read"><input type="button" value="delete Blog" data-ng-click="deleteBlog(item)" /></p>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
            <!--task management-->
            <div class="container" data-ng-if="taskIndicator">
                <div class="row">
                    <h4 class="tsk-head">Task Management</h4>
                    <div class="browse-list">
                        <div class="container">
                            <ul data-ng-repeat="data in filteredLists | filter : searchText">
                                <div class="card-pop">
                                    <li>
                                        <h3>{{data.event_title}}</h3>
                                        <!--<p>Lorem ipsum dolor sit amet is the dummy text</p>-->
                                    </li>
                                    <li class="text-center category-img">
                                        <img ng-src="{{data.category.categoryImage}}" alt="category image">
                                    </li>
                                    <li>
                                        <h3>{{data.event_type}}</h3>
                                    </li>
                                    <li class="third-cont">
                                        <p>
                                            Event date : <span>{{data.date_required}}</span>
                                            <span>From {{data.time_from}} To {{data.time_to}}</span>
                                        </p>
                                    </li>
                                    <li class="third-cont right-text">
                                        <p>
                                            <span>{{data.post_user_detail.first_name}}</span>
                                            <span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                                        </p>
                                    </li>
                                    <input type="button" value="delete Task" data-ng-click="deleteTask(data)" />
                                </div>
                            </ul>



                        </div>

                    </div>

                </div>
                <pagination ng-model="currentPage"
                            total-items="taskList.length"
                            max-size="maxSize"
                            boundary-links="true">
                </pagination>
            </div>
 <!--user management-->
<div class="container" data-ng-if="userIndicator">
    <div class="row">
        <h4 class="tsk-head">User Management</h4>
        <div class="browse-list">
            <div class="container">
                <ul data-ng-repeat="data in userList">
                    <li class="third-cont deactive-setup right-text">
                        <p class="dea-email">
                            <span class="dea-name">{{data.first_name}} {{data.last_name}}</span>
                        </p>
                        <p class="dea-email">
                            <span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                            {{data.email}}
                        </p>
                        <input type="button" value="Deactive User" data-ng-click="deactivateUser(data.id)" />
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <pagination ng-model="currentPage"
                total-items="userList.length"
                max-size="maxSize"
                boundary-links="true">
    </pagination>
</div>

<!--payment management-->
<div class="container" data-ng-if="paymentIndicator">
    <div class="row">
        <h4 class="tsk-head">Payment Management</h4>
        <div class="browse-list">
            <div class="container">
                <table width="100%" border="1">
                    <tr class="pay-table-head">
                        <td>Task Id</td>
                        <td>Task Title</td>
                        <td>Amount</td>
                        <td>Task Doer Name</td>
                        <td>Paypal Account</td>
                        <td>Payment Made</td>
                        <td>Action</td>
                    </tr>
                    <div>
                        <tr data-ng-repeat="item in taskList">
                            <td>{{item.id}}</td>
                            <td>{{item.event_title}}</td>
                            <td>{{item.category_question['totalCost']}} $</td>
                            <td>{{item.seeker_user_detail.first_name}} {{item.seeker_user_detail.last_name}}</td>
                            <td>{{item.paypalAccount == null ? 'Not Found' : item.paypalAccount}}</td>
                            <td>{{item.transactionDetails == null ? false : true}}</td>
                            <td>
                                <input type="submit" value="Release Payment" class="btn btn-primary btn-block"
                                       data-ng-click="releasePayment()">
                            </td>
                        </tr>
                    </div>
                </table>
            </div>

        </div>

    </div>
    <pagination ng-model="currentPage"
                total-items="taskList.length"
                max-size="maxSize"
                boundary-links="true">
    </pagination>
</div>

<!--transaction management-->
<div class="container" data-ng-if="transactionIndicator">
    <div class="row">
        <h4 class="tsk-head">Transaction Management</h4>
        <div class="browse-list">
            <div class="container">
                <table width="100%" border="1">
                    <tr class="pay-table-head">
                        <td>Task Id</td>
                        <td>Task Title</td>
                        <td>Amount</td>
                        <td>Task Doer Name</td>
                        <td>Paypal Account</td>
                        <td>Payment Made</td>
                        <td>Action</td>
                    </tr>
                    <div>
                        <tr data-ng-repeat="item in taskList">
                            <td>{{item.id}}</td>
                            <td>{{item.event_title}}</td>
                            <td>{{item.category_question['totalCost']}} $</td>
                            <td>{{item.seeker_user_detail.first_name}} {{item.seeker_user_detail.last_name}}</td>
                            <td>{{item.paypalAccount == null ? 'Not Found' : item.paypalAccount}}</td>
                            <td>{{item.transactionDetails == null ? false : true}}</td>
                            <td>
                                <input type="submit" value="Release Payment" class="btn btn-primary btn-block"
                                       data-ng-click="releasePayment()">
                            </td>
                        </tr>
                    </div>
                </table>
            </div>

        </div>

    </div>
    <pagination ng-model="currentPage"
                total-items="taskList.length"
                max-size="maxSize"
                boundary-links="true">
    </pagination>
</div>

<!---Qualification and insurance management -->
<div class="container" data-ng-if="insuranceIndicator">
    <div class="row">
        <h4 class="tsk-head">Insurance Management </h4>
        <div class="browse-list">
            <div class="container">
                <table width="100%" border="1">
                    <tr class="pay-table-head">
                        <td>UserID </td>
                        <td>User Name</td>
                        <td>Email</td>
                        <td>Insurance Type</td>
                        <td>Insurer</td>
                        <td>Doc</td>
                        <td>Action</td>
                    </tr>
                    <div>
                        <tr data-ng-repeat="item in insuranceList">
                            <td>{{item.user.userId}}</td>
                            <td>{{item.user.first_name}} {{item.user.last_name}}</td>
                            <td>{{item.user.email}}</td>
                            <td> {{item.user.insuranceType}} </td>
                            <td>{{item.user.insurer}}</td>
                            <td>
                                <a href="{{item.doc}}" target="_blank"><i class="fa fa-file"><span>View Document</span></i></a>
                            </td>
                            <td>
                                <input type="submit" value="Release Payment" class="btn btn-primary btn-block"
                                       data-ng-click="releasePayment()">
                            </td>
                        </tr>
                    </div>
                </table>
            </div>

        </div>

    </div>
    <pagination ng-model="currentPage"
                total-items="insuranceList.length"
                max-size="maxSize"
                boundary-links="true">
    </pagination>

    <div class="row">
        <h4 class="tsk-head">Qualification Management</h4>
        <div class="browse-list">
            <div class="container">
                <table width="100%" border="1">
                    <tr class="pay-table-head">
                        <td>Task Id</td>
                        <td>Task Title</td>
                        <td>Amount</td>
                        <td>Task Doer Name</td>
                        <td>Paypal Account</td>
                        <td>Payment Made</td>
                        <td>Action</td>
                    </tr>
                    <div>
                        <tr data-ng-repeat="item in qualificationList">
                            <td>{{item.id}}</td>
                            <td>{{item.event_title}}</td>
                            <td>{{item.category_question['totalCost']}} $</td>
                            <td>{{item.seeker_user_detail.first_name}} {{item.seeker_user_detail.last_name}}</td>
                            <td>{{item.paypalAccount == null ? 'Not Found' : item.paypalAccount}}</td>
                            <td>{{item.transactionDetails == null ? false : true}}</td>
                            <td>
                                <input type="submit" value="Release Payment" class="btn btn-primary btn-block"
                                       data-ng-click="releasePayment()">
                            </td>
                        </tr>
                    </div>
                </table>
            </div>

        </div>

    </div>
    <pagination ng-model="currentPage"
                total-items="qualificationList.length"
                max-size="maxSize"
                boundary-links="true">
    </pagination>
</div>
            <!--Request a new category-->
            <div class="modal fade" id="addCategoryPopup" tabindex="-1" ng-controller="addCategoryController">
                <div class="eb-vAlignment">
                    <div class="modal-dialog eb-vAlignCenter">
                        <div class="modal-content">
                            <div class="eb-modal-header">
                                <button type="button" class="close" data-dismiss="modal" data-ng-click="ModalClose()"><span aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title">Add a Category</h3>
                            </div>
                            <div class="modal-body">
                                <div class="extraSpace"></div>
                                <div class="alert alert-danger" data-ng-if="ErrorIndicator">
                                    {{message}}
                                </div>
                                <div class="alert alert-success" data-ng-if="successMessageIndicator">
                                    {{message}}
                                </div>
                                <form name="addCategoryForm" novalidate>
                                    <div class="popup-form-row">
                                        <div class="form-field">
                                            <label>category name : </label>
                                            <input type="text" class="form-control" data-ng-model="category.categoryName" required autofocus
                                                   ng-class="{error : addCategoryForm.categoryName.$invalid && addCategoryForm.$submitted}" name="categoryName" id="categoryName">
                                        </div>
                                        <div class="form-field">
                                            <div class="form-group ">
                                                <label>Upload	</label>
                                                <input type="file" class="form-control" name="category.categoryImage" id="categoryImage" required
                                                       fileread="category.categoryImage" accept="image/*" data-ng-model="category.categoryImage"
                                                       ng-class="{error : addCategoryForm.categoryImage.$invalid && addCategoryForm.$submitted}" />
                                            </div>
                                            <div class="form-group ">
                                                <label>Uploaded Image :</label>
                                                <img src="{{category.categoryImage}}" width="100" height="50" alt="Image preview..." id="categoryImage">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="popup-button-group">
                                        <input type="submit" value="add a category" class="btn btn-primary btn-block" 
                                               data-ng-click="addNewCategory()">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Request a new  pop up-->
            <div class="modal fade" id="addBlogPopup" tabindex="-1" ng-controller="addBlogController">
                <div class="eb-vAlignment">
                    <div class="modal-dialog eb-vAlignCenter">
                        <div class="modal-content">
                            <div class="eb-modal-header">
                                <button type="button" class="close" data-dismiss="modal" data-ng-click="ModalClose()"><span aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title">Add a Blog</h3>
                            </div>
                            <div class="modal-body">
                                <div class="extraSpace"></div>
                                <div class="alert alert-danger" data-ng-if="ErrorIndicator">
                                    {{message}}
                                </div>
                                <div class="alert alert-success" data-ng-if="successMessageIndicator">
                                    {{message}}
                                </div>
                                <form name="addBlogForm" novalidate>
                                    <div class="popup-form-row">
                                        <div class="form-field">
                                            <label>Blog Title : </label>
                                            <input type="text" class="form-control" data-ng-model="blog.blog_title" required autofocus
                                                   ng-class="{error : addBlogForm.blogHeading.$invalid && addBlogForm.$submitted}" name="blogHeading" id="blogHeading">
                                        </div>
                                        <div class="form-field">
                                            <label>Blog Category : </label>
                                            <input type="text" class="form-control" data-ng-model="blog.blog_sub_title" required autofocus
                                                   ng-class="{error : addBlogForm.blogcategory.$invalid && addBlogForm.$submitted}" name="blogcategory" id="blogcategory">
                                        </div>
                                        <div class="form-field">
                                            <div class="form-group ">
                                                <label>Blog Image	</label>
                                                <input type="file" class="form-control" name="blog_image" id="blog_image" required
                                                       fileread="blog.blog_image" accept="image/*" data-ng-model="blog.blog_image"
                                                       ng-class="{error : addBlogForm.blog_image.$invalid && addBlogForm.$submitted}" />
                                            </div>
                                            <div class="form-group ">
                                                <label>Uploaded Image :</label>
                                                <img src="{{blog.blog_image}}" widt width="100" height="50" alt="Image preview..." id="blogHeaderImage">
                                            </div>
                                        </div>
                                        <div class="form-field">
                                            <label>Blog Description : </label>
                                            <textarea class="form-control blog-desc" data-ng-model="blog.blog_description" required rows="10" maxlength="1000"
                                                      ng-class="{error : addBlogForm.blog_description.$invalid && addBlogForm.$submitted}" name="blog_description" id="blog_description"></textarea>
                                        </div>
                                    </div>

                                    <div class="popup-button-group">
                                        <input type="submit" value="add a blog" class="btn btn-primary btn-block" data-ng-click="addNewBlog()">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
