<div class="new-blog ng-scope">
    <div class="container">
        <div class="sub-banner">
            <img src="app/images/how-it-works.jpg">
            <div class="banner-overlay">
                <h3>Eventbid Blog</h3>      
            </div>
        </div>
        <!-- ngRepeat: item in blogList -->
        <div class="row ng-scope" data-ng-repeat="item in blogList">
            <div class="col-sm-1">
                <div class="blog-date text-center">
                    <p class="blog-month"><b>APR</b></p>
                    <p class="blog-year"><b>2017</b></p>
                    <p class="blog-digit"><b>20</b></p>
                </div>
            </div>
            <div class="col-sm-11">
                <img ng-src="http://api.eventbid.com.au/public/images/1509352304.png" alt="">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <h3 style="margin-top:15px;" class="ng-binding">Kid' s Parties</h3>
                <p class="ng-binding">jump into summer with latest spring/Summer collection from Betts Kids Lorem ipsum dolor sit amet is the dummy lorem Lorem ipsum dolor sit amet is the dummy lorem ipsum sit amet Lorem ipsum dolor sit amet is the dummy lorem Lorem ipsum dolor sit amet is the dummy lorem ipsum sit amet Lorem ipsum dolor sit amet is the dummy lorem Lorem ipsum dolor sit amet is the dummy lorem ipsum sit amet Lorem ipsum dolor sit amet is the dummy lorem Lorem ipsum dolor sit amet is the dummy lorem ipsum sit amet</p>
            </div>
        </div>
        <div class="row ng-scope" data-ng-repeat="item in blogList">
            <div class="col-sm-1">
                <div class="blog-date text-center">
                    <p class="blog-month"><b>APR</b></p>
                    <p class="blog-year"><b>2017</b></p>
                    <p class="blog-digit"><b>20</b></p>
                </div>
            </div>
            <div class="col-sm-11">
                <img ng-src="http://api.eventbid.com.au/public/images/1509352304.png" alt="" />
            </div>
        </div>
        </div>
    </div>
