<div class="container admin-blog">
    <div>
        <div class="row">
            <h4>Blog Management</h4>
            
            <br />
            <b>All Blogs :</b>
            <ul data-ng-repeat="item in blogList">
                <div class="hub-post">
                    <div class="post-hub-pic">
                        <img ng-src="{{item.blog_image}}">
                    </div>
                    <div class="post-hub-content">
                        <p class="hub-tag">{{item.blog_sub_title}}</p>
                        <p class="post-desc">{{item.blog_description}}</p>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>