


    <div class="category-page text-center">
        <div class="sub-banner">
          <img src="app/images/browse.jpg">  
    </div>
    </div>
    <div class="task-browse">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="search-bar">
                        <input type="text" placeholder="Search-task" class="search-input">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="find-button">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <button>Filter By Category</button>
                </div>
                <div class="col-sm-4 text-center">
                    <button>Filter By Location</button>
                </div>
                <div class="col-sm-4 text-center">
                    <button>Filter By Event</button>
                </div>
            </div>
        </div>
    </div>

    <div class="browse-list">
        <div class="container">
            <ul>
                <li>
                    <h3>Title</h3>
                    <p>Lorem ipsum dolor sit amet is the dummy text</p>
                </li>
                <li class="text-center category-img">
                    <img src="app/images/category/Catering.png">
                </li>
                <li>
                    <h3>Wedding</h3>

                </li>
                <li class="third-cont">
                    <p>
                        <span>Rosana</span>
                        <span>VIC</span>
                    </p>
                </li>
                <li>
                    <h3>$5000</h3>

                </li>
                <li class="third-cont right-text">
                    <p>
                        <span>Rebecca A</span>
                        <span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                    </p>
                </li>
            </ul>

            <ul>
                <li>
                    <h3>Title</h3>
                    <p>Lorem ipsum dolor sit amet is the dummy text</p>
                </li>
                <li class="text-center category-img">
                    <img src="app/images/category/Catering.png">
                </li>
                <li>
                    <h3>Wedding</h3>

                </li>
                <li class="third-cont">
                    <p>
                        <span>Rosana</span>
                        <span>VIC</span>
                    </p>
                </li>
                <li>
                    <h3>$5000</h3>

                </li>
                <li class="third-cont right-text">
                    <p>
                        <span>Rebecca A</span>
                        <span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                    </p>
                </li>
            </ul>

            <ul>
                <li>
                    <h3>Title</h3>
                    <p>Lorem ipsum dolor sit amet is the dummy text</p>
                </li>
                <li class="text-center category-img">
                    <img src="app/images/category/Catering.png">
                </li>
                <li>
                    <h3>Wedding</h3>

                </li>
                <li class="third-cont">
                    <p>
                        <span>Rosana</span>
                        <span>VIC</span>
                    </p>
                </li>
                <li>
                    <h3>$5000</h3>

                </li>
                <li class="third-cont right-text">
                    <p>
                        <span>Rebecca A</span>
                        <span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                    </p>
                </li>
            </ul>
        </div>

    </div>

  