


    <div class="category-page text-center">
        <div class="sub-banner">
          <img src="app/images/browse.jpg">  
    </div>
    </div>
    <div class="task-browse">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="search-bar">
                        <input type="text" placeholder="Search-task" class="search-input" data-ng-model="searchText" name="searchText"
                               id="searchText">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="find-button">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 text-center">
                   <select class="selectpicker" data-style="btn-primary">
                      <option>Filter By Event Type</option>
                       <option value="Wedding">Wedding</option>
                       <option value="Birthday">Birthday</option>
                       <option value="Graduation">Graduation</option>
                       <option value="High Tea">High Tea</option>
                       <option value="Corporate">Corporate</option>
                       <option value="Cocktail">Cocktail</option>
                       <option value="Anniversary">Anniversary</option>
                       <option value="Other">Other</option>
                    </select>
                </div>
                <div class="col-sm-3 text-center">
                    <select class="selectpicker" data-ng-model="task.category" data-style="btn-primary" name="category" id="category"
                       ng-options="item.id as item.name for item in categoryList">
                        <option value="">Filter By Category</option>
                    </select>
                </div>
                <div class="col-sm-3 text-center">
                    <select class="selectpicker" data-style="btn-primary">
                      <option>Filter By Budget</option>
                      <option>Per Person</option>
                      <option>Per Piece</option>
                      <option>Total</option>
                    </select>
                </div>
                <div class="col-sm-3 text-center">
                    <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" placeholder="Select date" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
</div>
                </div>
            
            </div>
    </div>
    
    <div class="browse-list">
        <div class="container">
            <ul data-ng-repeat="data in filteredLists | filter : searchText">
                <a class="card-pop" data-ng-click="openSelectedtaskInDetail(data)">
                    <li>
                        <h3>{{data.event_title}}</h3>
                        <!--<p>Lorem ipsum dolor sit amet is the dummy text</p>-->
                    </li>
                    <li class="text-center category-img">
                        <img ng-src="{{data.category.categoryImage}}" alt="category image">
                    </li>
                    <li>
                        <h3>{{data.event_type}}</h3>
                    </li>
                    <li class="third-cont">
                        <p>
                            <strong>Event date :</strong> <span>{{data.date_required}}</span>
                            <span><strong>From</strong> {{data.time_from}} <strong>To</strong> {{data.time_to}}</span>
                        </p>
                    </li>
                    <li>
                        <h3>${{data.category_question.totalCost}} ,{{data.category_question.totalCostType}}</h3>

                    </li>
                    <li class="third-cont right-text">
                        <p>
                            <span>{{data.post_user_detail.first_name}}</span>
                            <span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                        </p>
                    </li>
                </a>
            </ul>


        </div>

    </div>
</a>
<div class="container">
 <div class="row">
<div class="col-sm-12 text-right">
<pagination ng-model="currentPage"
            total-items="taskList.length"
            max-size="maxSize"
            boundary-links="true">
</pagination>
</div></div>
</div>


<!-- Modal -->
<div id="taskDetailModal" class="modal browse-task-detail-pop fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{taskDetail.event_title}}</h4>
      </div>
      <div class="modal-body">
        <p>vaibhav lives in khandwa. It is a good place.</p>
            <p><b>Event Type </b> : {{taskDetail.event_type}}
          <br/>
            <b>Category Name</b> : {{taskDetail.category.name}} 
                <img ng-src="{{taskDetail.category.categoryImage}}" alt="category image">
            
          </p>
           <p><b>Date Required</b> {{taskDetail.date_required }}</p>
          <p><b>Time From</b> {{taskDetail.time_from}}</p>
          <p><b>Time To</b> {{taskDetail.time_to}}</p>
          <div class="event-detail-pop">
              <ul>
                  <li ng-repeat="(key, val) in taskDetail.category_question">
                      {{key}}: {{val}}
                  </li>
              </ul>
          </div>
          <div>
              Task Posted by :
               name :  {{taskDetail.post_user_detail.first_name}}
               rating :  {{taskDetail.post_user_detail.rating}}
          </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Start Working</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
  