


    <div class="category-page text-center">
        <div class="sub-banner">
          <img src="app/images/browse.jpg">  
    </div>
    </div>
    <div class="task-browse">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="search-bar">
                        <input type="text" placeholder="Search-task" class="search-input">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="find-button">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <button>Filter By Category</button>
                </div>
                <div class="col-sm-4 text-center">
                    <button>Filter By Location</button>
                </div>
                <div class="col-sm-4 text-center">
                    <button>Filter By Event</button>
                </div>
            </div>
        </div>
    </div>
    <a class="card-pop" data-toggle="modal" data-target="#taskDetailModal">
    <div class="browse-list">
        <div class="container">
            <ul data-ng-repeat="data in filteredLists track by $index">
                <li>
                    <h3>{{data.event_title}}</h3>
                    <p>Lorem ipsum dolor sit amet is the dummy text</p>
                </li>
                <li class="text-center category-img">
                    <img ng-src="{{data.category.categoryImage}}" alt="category image">
                </li>
                <li>
                    <h3>{{data.event_type}}</h3>

                </li>
                <li class="third-cont">
                    <p>
                        <span>{{data.date_required}}</span>
                        <span>From {{data.time_from}} To {{data.time_to}}</span>
                    </p>
                </li>
                <li>
                    <h3>$5000</h3>

                </li>
                <li class="third-cont right-text">
                    <p>
                        <span>{{data.post_user_detail.first_name}}</span>
                        <span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                    </p>
                </li>
            </ul>
            

        </div>

    </div>
</a>
<pagination ng-model="currentPage"
            total-items="taskList.length"
            max-size="maxSize"
            boundary-links="true">
</pagination>


<!-- Modal -->
<div id="taskDetailModal" class="modal browse-task-detail-pop fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Task Title</h4>
      </div>
      <div class="modal-body">
        <p>vaibhav lives in khandwa. It is a good place.</p>
          <p><b>Wedding</b> <b>Category Name</b></p>
           <p><b>Date Required</b> 12/09/2017</p>
          <p><b>Time From</b> 11:00 am</p>
          <p><b>Time To</b> 11:00 am</p>
          <div class="event-detail-pop">
              <p>Lorem ipsum dolor sit amet is the dummy text describing the web content for showing to user.</p>
          </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Start Working</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

  