  	<div class="content-body">
    <div class="sub-banner">
       <img src="app/images/dashboard-banner.jpg">
	   <div class="banner-name-user text-center">
					<h1>Hello, {{firstName}}</h1>
				</div>
    </div>
          
          
              
              <div class="container customer-dashboard">
                  <div class="row">
                      <div class="col-sm-4 top-menu-btn">
                          <a href="#/payment">
                              <img src="app/images/payment-btn.png" height="70px;">
                              <span>Payments</span>
                          </a>
                      </div>
                      <div class="col-sm-4 top-menu-btn">
                          <a href="#/profile">
                              <img src="app/images/profile-btn.png" height="70px;">
                              <span>View Profile</span>
                          </a>
                      </div>
                      <div class="col-sm-4 top-menu-btn">
                          <a href="#/settings">
                              <img src="app/images/change-btn.png" height="70px;">
                              <span>Change Settings</span>
                          </a>
                      </div>
                  </div>
              </div>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">

                  <li role="presentation" ng-class="{active: buisnessDashboardIndicator }">
                      <a aria-controls="function" data-ng-click="showBuisnessTab()" role="tab" data-toggle="tab">
                          Customer Dashboard
                      </a>
                  </li>
                  <li role="presentation" ng-class="{active: customerDashboardIndicator }">
                      <a aria-controls="contact" role="tab" data-ng-click="showCustomerTab()" data-toggle="tab">
                          Buisness Dashboard
                      </a>
                  </li>

              </ul>
          <div data-ng-if="buisnessDashboardIndicator">
              <div class="container jobs-dasborad">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="jobs-list">
                              <h4>Open Jobs</h4>
                              <ul data-ng-if="potentialJobsIndicator" data-ng-repeat="item in openTask">
                                  <li><a data-ng-click="openSelectedtaskInDetail(item)">{{item.event_title}}</a></li>
                              </ul>
                              <p class="text-content-dash" data-ng-if="!potentialJobsIndicator">
                                  You have no open tasks.Post a task today for free and let the freelancers come to you.
                              </p>
                              <div class="dashborad-post-btn">
                                  <a href="#/post-task">Post A Task</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="jobs-list">
                              <h4>Jobs In Progress</h4>
                            
                                  <ul data-ng-if="jobsInProgressIndicator" data-ng-repeat="item in progressTask">
                                      <li><a data-ng-click="openProgresstaskInDetail(item)">{{item.event_title}}</a></li>
                                  </ul>
                            
                              <p class="text-content-dash" data-ng-if="!jobsInProgressIndicator">
                                  No jobs in progress, post a task and save yourself the hassle. Let our professionals come to you.
                              </p>
                              <div class="dashborad-post-btn">
                                  <a href="#/post-task">Post A Task</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="container jobs-dasborad">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="jobs-list">
                              <h4>Invoices Due</h4>
                              <ul data-ng-if="invoicesIndicator">
                                  <li><a href="#">List content of jobs description will be goes here</a></li>
                              </ul>
                              <p class="text-content-dash" data-ng-if="!invoicesIndicator">
                                  You're up-to-date with all payments.You have no invoices due.
                              </p>
                              <div class="dashborad-post-btn">
                                  <a href="#">Pay Invoices Now</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="jobs-list">
                              <h4>Reviews</h4>
                              <ul data-ng-if="reviewsIndicator">
                                  <li><a >List content of jobs description will be goes here</a></li>
                              </ul>
                              <p class="text-content-dash" data-ng-if="!reviewsIndicator">
                                  You're up-to-date with all your reviews.
                              </p>
                              <div class="dashborad-post-btn">
                                  <a>Submit Reviews</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div data-ng-if="customerDashboardIndicator">
              <div class="container jobs-dasborad">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="jobs-list">
                              <h4>Jobs you bidded on</h4>
                              <ul data-ng-if="potentialJobsCustomerIndicator" data-ng-repeat="item in openTaskCustomer">
                                  <li><a data-ng-click="openSelectedtaskInDetail(item)">{{item.event_title}}</a></li>
                              </ul>
                              <p class="text-content-dash" data-ng-if="!potentialJobsCustomerIndicator">
                                  You haven't bidded on any tasks yet! Have a look at the tasks listed to find something you can do!
                              </p>
                              <div class="dashborad-post-btn">
                                  <a href="#/browse-tasks">Browse Task</a>
                              </div>

                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="jobs-list">
                              <h4>My messages</h4>
                              <p class="text-content-dash" data-ng-if="reviewsIndicator">
                                  You have no new messages at the moment. Check in a little later.
                              </p>
                              <p class="text-content-dash" data-ng-if="!reviewsIndicator">
                                  You're up-to-date with all your reviews.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="container jobs-dasborad">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="jobs-list">
                              <h4>Jobs In Progress</h4>
                              <ul data-ng-if="jobsInProgressCustomerIndicator" data-ng-repeat="item in progressTaskCustomer">
                                  <li><a data-ng-click="openProgresstaskInDetail(item)">{{item.event_title}}</a></li>
                              </ul>
                              <p class="text-content-dash" data-ng-if="!jobsInProgressCustomerIndicator">
                                  You're not working on anything right now, why not have a look and see what you can find.
                              </p>
                              <div class="dashborad-post-btn">
                                  <a href="#/browse-tasks">Browse Task</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="jobs-list">
                              <h4>Invoices Due</h4>
                              <ul data-ng-if="invoicesIndicator">
                                  <li><a href="#">List content of invoices description will be goes here</a></li>
                              </ul>
                              <p class="text-content-dash" data-ng-if="!invoicesIndicator">
                                  You're up-to-date with all payments.You have no invoices due.
                              </p>
                              <div class="dashborad-post-btn">
                                  <a href="#">Request Payment</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12 message-box-dev">
                      <div class="jobs-list">
                          <h4>My Message</h4>
                          <!-- ngIf: invoicesIndicator -->
                          <!-- ngIf: !invoicesIndicator -->
                          <p><a href="#">Anita a</a> has replied to your comment in <a href="#">vaibhav kasar</a></p>
                          <p><a href="#">Anita a</a> has replied to your comment in <a href="#">vaibhav kasar</a></p>
                          <p><a href="#">Anita a</a> has replied to your comment in <a href="#">vaibhav kasar</a></p>
                          <p><a href="#">Anita a</a> has replied to your comment in <a href="#">vaibhav kasar</a></p>
                          <p><a href="#">Anita a</a> has replied to your comment in <a href="#">vaibhav kasar</a></p><!-- end ngIf: !invoicesIndicator -->

                      </div>
                  </div>
              </div>
          </div>
</div>

<!-- Open Task Modal -->
<div id="OpenTaskModal" class="modal browse-task-detail-pop fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{taskDetail.event_title}}</h4>
            </div>
            <div class="modal-body d-listing">
                <div class="m-body-top">
                    <div class="d-left">
                        <p><b>Event Type </b>  {{taskDetail.event_type}}</p>
                        <p><b>Category Name</b>  {{taskDetail.category.name}}</p>
                        <p><b>Date Required</b> {{taskDetail.date_required }}</p>
                        <p><b>Time From</b>  {{taskDetail.time_from}}</p>
                        <p><b>Time To</b> {{taskDetail.time_to}}</p>
                    </div>
                    <div class="d-right"><img ng-src="{{taskDetail.category.categoryImage}}" alt="category image"></div>
                </div>
                <div class="event-detail-pop m-body-mid">
                    <ul>
                        <li ng-repeat="(key, val) in taskDetail.category_Detail">
                            <div data-ng-if="key == 'Desert Images for reference' || key =='Graphic images' ">
                                <div data-ng-if="val.length > 0" data-ng-repeat="data in val track by $index">
                                    <img class="uploaded-image" ng-src="{{data}}" width="100" height="50" alt="Image preview..." id="inspirationPhoto">
                                </div>
                            </div>

                            <div class="left-list" data-ng-if="key != 'Desert Images for reference' && key !='Graphic images'">
                                <b> {{key}}</b> <span> {{val}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="m-body-bottom">
                    <p>
                        <b>  Task posted date : </b>  {{ taskDetail.created_at | date :'dd-MM-yyyy'}}
                    </p>

                </div>
                <!--if card details was saved-->
                <div class="people-int" data-ng-if="cardDetailsAlreadySaved">
                    <p class="peo-head">You need to make payment before assigning this task. Can we make payment by card saved with us ending with {{card.card_number}} ?</p>
<!--
                    <input type="number" class="form-control" ng-model="taskAmount" name="taskAmount" required min="1" max="1500000000"
                           placeholder="{{taskDetail.category_question['totalCost']}}" ng-class="{error : taskAmount.$invalid }" data-ng-blur="calculateCharges(taskAmount)">
-->
                    {{taskDetail.category_question['totalCost']}}$
                    <span data-ng-if="serviceCharges"><b>Eventbid Services charges- </b>{{ serviceCharges }} </span> <br />
                    <span data-ng-if="totalPaymentMade"><b>Total Payment -</b> {{ totalPaymentMade }}</span> <br />
                    <input type="button" id="payment" name="payment" value="make payment" ng-click="makePayment(taskDetail.category_question['totalCost'])" /><br />
                    <span style="color : red;">{{paymentSuccessMessage}}</span>
                    <span style="color : red;" data-ng-if="amountIndicator">{{amountMessage}}</span>
                </div>
                <!--if card details was not saved-->
                <div data-ng-if="NoCardDetailsFound">
                    <p class="peo-head">
                        Card details was not saved.Please add card details and make payment.
                    </p>
                    <form name="paymentForm" novalidate class="padding-other">
                        <div class="alert alert-danger" data-ng-show="errorMessageIndicator">
                            {{ message}}
                        </div>
                        <div class="alert alert-success" data-ng-if="successMessageIndicator">
                            {{message}}
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-field">
                                    <label>Enter Card Number</label>
                                    <input type="number" class="form-control" id="debitNumber" name="debitNumber" ng-maxlength="16" min="16"
                                           ng-class="{error : paymentForm.debitNumber.$invalid && paymentForm.$submitted}" required data-ng-model="cardDetails.card_number">
                                </div>
                            </div>
                        </div>
                        <div class="paymentOption form-field">
                            <span class="radio-inline">
                                <input type="radio" class="form-control" id="debit" name="debit" value="visa"
                                       ng-class="{error : paymentForm.debit.$invalid && paymentForm.$submitted}" required data-ng-model="cardDetails.card_type">
                                <span class="payment-radio-text">VISA</span>
                            </span>
                            <span class="radio-inline">
                                <input type="radio" class="form-control" id="credit" name="credit" value="mastro"
                                       ng-class="{error : paymentForm.credit.$invalid && paymentForm.$submitted}" required data-ng-model="cardDetails.card_type">
                                <span class="payment-radio-text">MASTERCARD</span>
                            </span>
                        </div><div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-field expireDate">
                                            <label class="btn-block">Expiry Date</label>
                                            <select required class="form-control" data-ng-model="cardDetails.expire_month" ng-options="item for item in monthArray">
                                                <option value="" selected>MM</option>
                                            </select>
                                            <select required class="form-control" data-ng-model="cardDetails.expire_year" ng-options="item for item in yearArray">
                                                <option value="" selected>YYYY</option>
                                            </select>

                                            <!--
                                                                                <select required class="form-control" data-ng-model="cardDetails.expiryMonth">
                                                                                    <option value="12" selected>12</option>
                                                                                </select>
                                                                                <select required class="form-control" data-ng-model="cardDetails.expiryDate">
                                                                                    <option value="2021" selected>2021</option>
                                                                                </select>
                                -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-field">
                                            <label>CVV</label>
                                            <input type="number" class="form-control" id="cvv" name="cvv" maxlength="3" min="3"
                                                   required ng-class="{error : paymentForm.cvv.$invalid && paymentForm.$submitted}" data-ng-model="cardDetails.cvv">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-field">
                                            <label>Amount</label>
                                            <input type="number" class="form-control" id="amount" name="amount"
                                                   required ng-class="{error : paymentForm.amount.$invalid && paymentForm.$submitted}" data-ng-model="cardDetails.amount">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-field card-holder-name">
                                            <label>Card Holder's  Name</label>
                                            <div class="card-holder-input">
                                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name"
                                                       ng-class="{error : paymentForm.first_name.$invalid && paymentForm.$submitted}" required
                                                       data-ng-model="cardDetails.first_name">
                                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"
                                                       ng-class="{error : paymentForm.last_name.$invalid && paymentForm.$submitted}" required
                                                       data-ng-model="cardDetails.last_name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 card-pay-button">
                                <div class="button-group">
                                    <input data-ng-click="makePaymentByAddingCard(cardDetails, paymentForm)"
                                           type="submit" value="Add card" class="btn btn-primary btn-lg payment-btn ">
                                    <input type="button" data-ng-click="cancelPaymentByAddingCard()" value="Cancel"
                                           class="btn btn-primary btn-lg payment-btn">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="people-int" data-ng-if="interestedUsersListCount > 0">
                    <p class="peo-head">People who are interested for doing this task</p>
                    <ul data-ng-repeat="item in interestedUsersList | unique : item.interested_user.id">
                        <li>
                            <span><b>{{item.interested_user.first_name}} {{item.interested_user.last_name}}</b></span>
                            <span class="assign-rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                            <a class="assign-view" href="#/profile/{{item.interested_user.id}}">view profile</a>
                            <input type="button" class="btn btn-default manage-assign" id="assignBtn"
                                   data-ng-click="assignTaskToUser(item)" value="assign" disabled="disabled">
                        </li>
                    </ul>
                   
                </div>
               
                
                <div class="people-int" data-ng-if="interestedUsersListCount == 0">
                    <p class="peo-head">Currently no user has showed interest in your task. Please wait for some more time.</p>
                </div>
            </div>
            <div data-ng-show="assignMsg" class="thank-u-msg"> Task assigned successfully. </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-ng-click="deleteTask(taskDetail)">Delete Task</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="progressTaskModal" class="modal browse-task-detail-pop fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{taskDetail.event_title}}</h4>
            </div>
            <div class="modal-body d-listing">
                <div class="m-body-top">
                    <div class="d-left">
                        <p><b>Event Type </b>  {{taskDetail.event_type}}</p>
                        <p><b>Category Name</b>  {{taskDetail.category.name}}</p>
                        <p><b>Date Required</b> {{taskDetail.date_required }}</p>
                        <p><b>Time From</b>  {{taskDetail.time_from}}</p>
                        <p><b>Time To</b> {{taskDetail.time_to}}</p>
                    </div>
                    <div class="d-right"><img ng-src="{{taskDetail.category.categoryImage}}" alt="category image"></div>
                </div>
                <div class="event-detail-pop m-body-mid">
                    <ul>
                        <li ng-repeat="(key, val) in taskDetail.category_Detail">
                            <div data-ng-if="key == 'Desert Images for reference' || key =='Graphic images' ">
                                <div data-ng-if="val.length > 0" data-ng-repeat="data in val track by $index">
                                    <img class="uploaded-image" ng-src="{{data}}" width="100" height="50" alt="Image preview..." id="inspirationPhoto">
                                </div>
                            </div>

                            <div class="left-list" data-ng-if="key != 'Desert Images for reference' && key !='Graphic images'">
                                <b> {{key}}</b> <span> {{val}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="m-body-bottom">
                    <p>
                        <b>  Task posted date : </b>  {{ taskDetail.created_at | date}}
                    </p>

                </div>
                <div class="people-int">
                    <p class="peo-head">Details of User whom task has assigned : </p>
                    <ul class="task-chat-assign">
                        <li>
                            <div class="commenter-pic">
                                <a href="#"><img src="app/images/profile-btn.png" alt="yellotasker"></a>
                            </div>
                            <div class="spans-div">
                            <span><b>{{taskDetail.seeker_user_detail.first_name}} {{taskDetail.seeker_user_detail.last_name}}</b></span>
                            <span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                            <a href="#/profile/{{taskDetail.seeker_user_detail.id}}">view profile</a>
                                </div>
                            <div class="message-button">
                            <button type="button" class="btn btn-default" data-ng-click="messageView()">Message {{taskDetail.seeker_user_detail.first_name}} </button>
                                </div>

                        </li>
                        <li data-ng-show="messageUser">
                            <div class="commenter-pic">
                                <a href="#"><img src="app/images/profile-btn.png" alt="user"></a>
                            </div>
                            <div class="commenter-text">
                                <textarea value="Ask a question" data-ng-model="commentDescription" name="description" data-ng-change="addCommentChange()"></textarea>
                                <p class="comment-footer">
                                    <span>
                                        <a data-ng-click="addComment()" ng-class="{disabled : anchorDisable}"
                                           ng-style="{'color': anchorDisable  ? 'grey' : 'black' }">Send</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <p class="v-c-h">View chat history : </p>
                        <li>
                            <div class="commenter" data-ng-repeat="item in commentList" data-ng-if="CommentRecordIndicator">
                                <div id="commentItem" >
                                    <div class="commenter-pic">
                                        <a href="#"><img src="{{item.user.photo?item.user.photo:'app/images/profile-btn.png'}}" alt="yellotasker"></a>
                                    </div>
                                    <div class="commenter-text">
                                        <h4><a href="#">{{item.user.first_name}} {{item.user.last_name}}</a></h4>
                                        <p class="commenter-desc">
                                            {{item.comments}}
                                        </p>
                                        <p class="timing-reply"><span>{{item.updated_at | timeago }}</span></p>
                                    </div>
                                </div>

                                <div style="display: none" id="item_{{item.id}}">
                                    <div class="commenter-pic">
                                        <a href="#"><img src="app/images/profile-btn.png" alt="yellotasker"></a>
                                    </div>
                                    <div class="commenter-text">
                                        <textarea value="Ask a question" data-ng-model="replyCommentDesc"
                                                  name="replyDescription" data-ng-change="addCommentReplyChange(replyCommentDesc)"></textarea>
                                        <p class="comment-footer">
                                            <span>
                                                <a data-ng-click="replyComment(replyCommentDesc, item.id)"
                                                   ng-class="{disabled : anchorReplyDisable}"
                                                   ng-style="{'color': anchorReplyDisable  ? 'grey' : 'black' }">Send</a>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <!--reply list div starts-->
                                    <div data-ng-if="checkIfReplyExists(item.id, commentList)">
                                        <!--reply list div starts-->
<!--
                                        <div data-ng-repeat="data in repliedObjectList">

                                            <div class="commenter sub-reply">
                                                <div class="commenter-pic">
                                                    <a href="#"><img src="app/images/profile-btn.png" alt="yellotasker"></a>
                                                </div>
                                                <div class="commenter-text">
                                                    <h4><a href="#">{{data.user_detail.first_name}} {{data.user_detail.last_name}}</a></h4>
                                                    <p class="commenter-desc thanks-posting">{{data.commentDescription}}</p>
                                                    <p class="timing-reply">
                                                        <span>{{data.created_at | timeago }}</span> <span>
                                                            <a data-ng-click="onReply(data)"><i class="fa fa-reply"></i> Reply</a>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div style="display: none" id="item_{{data.id}}">
                                                <div class="commenter-pic">
                                                    <a href="#"><img src="app/images/profile-btn.png" alt="yellotasker"></a>
                                                </div>
                                                <div class="commenter-text">
                                                    <textarea value="Ask a question" data-ng-model="replyCommentDesc"
                                                              name="replyDescription" data-ng-change="addCommentReplyChange(replyCommentDesc)"></textarea>
                                                    <p class="comment-footer">
                                                        <span>
                                                            <a data-ng-click="replyComment(replyCommentDesc, item.id)"
                                                               ng-class="{disabled : anchorReplyDisable}"
                                                               ng-style="{'color': anchorReplyDisable  ? 'grey' : 'black' }">Send</a>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
-->
                                    <!--reply list div ends-->
                                </div>
                            </div>
                            <div data-ng-if="!CommentRecordIndicator">
                                No chat history found.
                            </div>
                                </div>
                        </li>
                        <li>
                            <p class="v-c-h">

                                How was your experience ? Submit reviews how was your experience with this user.
                            </p>
                            <p>
                            <p class="rating-experience">
                                <span>Rating</span>
                                <span>
                                    <select name="doersRating">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                </span>
                            </p>
                            <textarea width="100%" rows="4" data-ng-model="reviews" name="Reviews"></textarea>
                        </li>
                        <li><p class="v-c-h">
                            Mark status as Completed if done :</p>
                        <button type="button" class="btn btn-default comp-btn" data-ng-click="completeTask(taskDetail)">
                            Complete</button>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div data-ng-show="assignMsg" class="thank-u-msg"> Task assigned successfully. </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-ng-click="deleteTask(taskDetail)">Delete Task</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>