<div class="category-page text-center">
   <div class="sub-banner">
          <img src="app/images/category-head.jpg">  
    </div>
</div>
<div class="categories-icon">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/Resized_category_images/Car_and_venue_hire.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/Resized_category_images/Catering.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/Resized_category_images/Cleaning.png" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/Resized_category_images/Entertainment_and_talent.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/Resized_category_images/Floristry.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/Resized_category_images/Graphic_design.png" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/Resized_category_images/Hair_and_beauty.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/Resized_category_images/Patisserie.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/Resized_category_images/Photography_and_videography.png" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/Resized_category_images/Supply_hire.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/Resized_category_images/Waiting_staff.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#/add-category">
                    <img src="app/images/request-cate.png" alt="">
                    <p>Request a category</p>
                </a>
            </div>
        </div>
    </div>
</div>


<!--<div class="modal latest fade" id="requestCategoryPopup" tabindex="-1" ng-controller="addCategoryController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><img src="app/images/close_icon.png"></button>
        
      </div>
    <div class="request-form">
			<div class="row">
				<div class="col-sm-12">
					<h4>Name</h4>
				</div>
				<div class="col-sm-6">
					<input type="text" placeholder="First Name">
				</div>
				<div class="col-sm-6">
					<input type="text" placeholder="Last Name">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h4>Email:</h4>
				</div>
				<div class="col-sm-12">
					<input type="email" placeholder="Enetr Email">
				</div>
				
			</div>
			<div class="row hire">
				
				<div class="col-sm-6">
					<button class="">I am a hire</button>
				</div>
				<div class="col-sm-6">
					<button class="">I am a Service Provider</button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h4>Title of new category:</h4>
				</div>
				<div class="col-sm-12">
					<input type="email" placeholder="category">
				</div>
				
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h4>Why do you need a new category?</h4>
				</div>
				<div class="col-sm-12">
					<textarea class="form-control" rows="5"></textarea>
				</div>
				
			</div>
            <div class="row hire">
				
				<div class="col-sm-12">
					<button class="">Subnit</button>
				</div>
				
			</div>
		</div>
</div>-->

<!--view categories-->
<div class="modal fade" id="viewCategoryPopup" tabindex="-1" ng-controller="viewCategoryController">
    <div class="eb-vAlignment">
        <div class="modal-dialog eb-vAlignCenter">
            <div class="modal-content">
                <div class="eb-modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-ng-click="ModalClose()"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Category Details</h3>
                </div>
                <div class="modal-body">
                    <div class="extraSpace"></div>
                    <div class="alert alert-danger" data-ng-if="ErrorIndicator">
                        {{message}}
                    </div>
                    <div class="alert alert-success" data-ng-if="successMessageIndicator">
                        {{message}}
                    </div>
                    <form name="addCategoryForm" novalidate>
                        <div class="popup-form-row">
                            <div class="form-field">
                                <label>category name : </label>
                                <input type="text" class="form-control" data-ng-model="categoryName" required autofocus
                                       ng-class="{error : addCategoryForm.categoryName.$invalid && addCategoryForm.$submitted}" name="categoryName" id="categoryName">
                            </div>
                        </div>

                        <div class="popup-button-group">
                            <input type="submit" value="add a category" class="btn btn-primary btn-block" data-ng-click="addNewCategory()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>