<div class="category-page text-center">
   <div class="sub-banner">
          <img src="app/images/category-head.jpg">  
    </div>
</div>
<div class="categories-icon">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/category/Car_and_venue_hire.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/category/Catering.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/category/Cleaning.png" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/category/Entertainment_and_talent.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/category/Floristry.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/category/Graphic_design.png" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/category/Hair_and_beauty.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/category/Patisserie.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/category/Photography_and_videography.png" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/category/Supply_hire.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <img src="app/images/category/Waiting_staff.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#/add-category">
                    <img src="app/images/request-cate.png" alt="">
                    <p>Request a category</p>
                </a>
            </div>
        </div>
    </div>
</div>


<!--<div class="modal latest fade" id="requestCategoryPopup" tabindex="-1" ng-controller="addCategoryController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><img src="app/images/close_icon.png"></button>
        
      </div>
    <div class="request-form">
			<div class="row">
				<div class="col-sm-12">
					<h4>Name</h4>
				</div>
				<div class="col-sm-6">
					<input type="text" placeholder="First Name">
				</div>
				<div class="col-sm-6">
					<input type="text" placeholder="Last Name">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h4>Email:</h4>
				</div>
				<div class="col-sm-12">
					<input type="email" placeholder="Enetr Email">
				</div>
				
			</div>
			<div class="row hire">
				
				<div class="col-sm-6">
					<button class="">I am a hire</button>
				</div>
				<div class="col-sm-6">
					<button class="">I am a Service Provider</button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h4>Title of new category:</h4>
				</div>
				<div class="col-sm-12">
					<input type="email" placeholder="category">
				</div>
				
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h4>Why do you need a new category?</h4>
				</div>
				<div class="col-sm-12">
					<textarea class="form-control" rows="5"></textarea>
				</div>
				
			</div>
            <div class="row hire">
				
				<div class="col-sm-12">
					<button class="">Subnit</button>
				</div>
				
			</div>
		</div>
</div>-->