<div class="reset-password-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Reset Your Password</h1>
                <form class="reset-form" name="resetForm" id="resetForm" novalidate>
                    <label class="error-text">
                        {{message}}
                    </label>
                    <label class="error-text" ng-if="successIndicator" style="color:green;">
                        Password reset successfully. Please login to continue.
                    </label>
                    <!--<div class="form-group">
                        <label>Email <span style="color:red;">*</span></label>
                        <input type="email" class="form-control" placeholder="Email" required name="email" id="email" data-ng-model="email"
                               data-ng-blur="checkEmail(loginForm)" ng-pattern="emailFormat"
                               ng-class="{error : (loginForm.email.$invalid && loginForm.$submitted) || emailIndicator}">
                    </div>-->
                    <div class="form-group">
                        <label>Old Password <span style="color:red;">*</span></label>
                        <input type="password" class="form-control" placeholder="Old Password" name="oldPassword" required data-ng-model="oldPassword"
                               ng-class="{error : loginForm.password.$invalid && loginForm.$submitted }">
                    </div>
                    <div class="form-group">
                        <label>New Password <span style="color:red;">*</span></label>
                        <input type="password" class="form-control" placeholder="New Password" name="newPassword" required data-ng-model="newPassword"
                               ng-class="{error : loginForm.password.$invalid && loginForm.$submitted }">
                    </div>
                    <div class="form-group">
                        <label> Confirm New Password <span style="color:red;">*</span></label>
                        <input type="password" class="form-control" placeholder="Confirm Password" name="cnfNewPassword" required data-ng-model="cnfNewPassword"
                               ng-class="{error : loginForm.password.$invalid && loginForm.$submitted }">
                    </div>
                    <!--<a (click)="resetPassword()">Reset Password</a>-->
                    <input id="login-button" class="reset-btn"
                           type="button" value="Change Password" data-ng-click="changePassword(resetForm)" />
                </form>
            </div>
        </div>
    </div>
</div>