  	<div class="content-body">
    <div class="sub-banner">
       <img src="app/images/dashboard-banner.jpg">
    </div>
    <div class="container customer-dashboard">
		<div class="row">
			<div class="col-sm-4 top-menu-btn">
				<img src="app/images/payment-btn.png" height="130px;">
				<span>Payments</span>
			</div>
			<div class="col-sm-4 top-menu-btn">
				<img src="app/images/profile-btn.png" height="130px;">
				<span>View Profile</span>
			</div>
			<div class="col-sm-4 top-menu-btn">
				<img src="app/images/change-btn.png" height="130px;">
				<span>Change Settings</span>
			</div>
		</div>
	</div>
	
	<div class="container jobs-dasborad">
		<div class="row">
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Open Jobs</h4>
					<ul>
						<li><a href="#">List content of jobs description will be goes here</a></li>
						<li><a href="#">List content of jobs description will be goes here</a></li>
						<li><a href="#">List content of jobs description will be goes here</a></li>
						<li><a href="#">List content of jobs description will be goes here</a></li>
					</ul>
					<div class="dashborad-post-btn">
						<a href="#">Post A Task</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Jobs In Progress</h4>
					<ul>
						<li><a href="#">List content of jobs description will be goes here</a></li>
						<li><a href="#">List content of jobs description will be goes here</a></li>
						<li><a href="#">List content of jobs description will be goes here</a></li>
						<li><a href="#">List content of jobs description will be goes here</a></li>
					</ul>
					<div class="dashborad-post-btn">
						<a href="#">Post A Task</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container jobs-dasborad">
		<div class="row">
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Invoices Due</h4>
					<ul>
						<li><a href="#">List content of jobs description will be goes here</a></li>
					</ul>
					<div class="dashborad-post-btn">
						<a href="#">Pay Invoices Now</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Reviews</h4>
					<ul>
						<li><a href="#">List content of jobs description will be goes here</a></li>
					</ul>
					<div class="dashborad-post-btn">
						<a href="#">Submit Reviews</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container jobs-dasborad">
		<div class="row">
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Open Jobs</h4>
					<p class="text-content-dash">
						Lorem ipsum dolor sit amet is the dummy text for describing the website content Lorem ipsum dolor sit amet is the dummy text for describing the website content
					</p>
					<div class="dashborad-post-btn">
						<a href="#">Post A Task</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Job In Progress</h4>
					<p class="text-content-dash">
						Lorem ipsum dolor sit amet is the dummy text for describing the website content Lorem ipsum dolor sit amet is the dummy text for describing the website content
					</p>
					<div class="dashborad-post-btn">
						<a href="#">Post A Task</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
		<div class="container jobs-dasborad">
		<div class="row">
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Invoices Due</h4>
					<p class="text-content-dash">
						Lorem ipsum dolor sit amet is the dummy text for describing the website content Lorem ipsum dolor sit amet is the dummy text for describing the website content
					</p>
					
				</div>
			</div>
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Reviews</h4>
					<p class="text-content-dash">
						Lorem ipsum dolor sit amet is the dummy text for describing the website content Lorem ipsum dolor sit amet is the dummy text for describing the website content
					</p>
					
				</div>
			</div>
		</div>
	</div>
</div>