  	<div class="content-body">
    <div class="sub-banner">
       <img src="app/images/dashboard-banner.jpg">
	   <div class="banner-name-user text-center">
					<h1>Hello, Rebecca</h1>
				</div>
    </div>
    <div class="container customer-dashboard">
		<div class="row">
			<div class="col-sm-4 top-menu-btn">
				<img src="app/images/payment-btn.png" height="130px;">
                <span>Payments</span>
			</div>
			<div class="col-sm-4 top-menu-btn">
				<img src="app/images/profile-btn.png" height="130px;">
				<span>View Profile</span>
			</div>
			<div class="col-sm-4 top-menu-btn">
				<img src="app/images/change-btn.png" height="130px;">
				<span>Change Settings</span>
			</div>
		</div>
	</div>
	
	<div class="container jobs-dasborad">
		<div class="row">
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Open Jobs</h4>
					<ul>
						<li><a href="#">List content of jobs description will be goes here</a></li>
						<li><a href="#">List content of jobs description will be goes here</a></li>
						<li><a href="#">List content of jobs description will be goes here</a></li>
						<li><a href="#">List content of jobs description will be goes here</a></li>
					</ul>
					<div class="dashborad-post-btn">
						<a href="#">Post A Task</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Jobs In Progress</h4>
					<ul>
						<li><a href="#">List content of jobs description will be goes here</a></li>
						<li><a href="#">List content of jobs description will be goes here</a></li>
						<li><a href="#">List content of jobs description will be goes here</a></li>
						<li><a href="#">List content of jobs description will be goes here</a></li>
					</ul>
					<div class="dashborad-post-btn">
						<a href="#">Post A Task</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container jobs-dasborad">
		<div class="row">
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Invoices Due</h4>
					<ul>
						<li><a href="#">List content of jobs description will be goes here</a></li>
					</ul>
					<div class="dashborad-post-btn">
						<a href="#">Pay Invoices Now</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Reviews</h4>
					<ul>
						<li><a href="#">List content of jobs description will be goes here</a></li>
					</ul>
					<div class="dashborad-post-btn">
						<a href="#">Submit Reviews</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container jobs-dasborad">
		<div class="row">
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Open Jobs</h4>
					<p class="text-content-dash">
						You have no open tasks.Post a task today for free and let the freelancers come to you. 
					</p>
					<div class="dashborad-post-btn">
						<a href="#">Post A Task</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Job In Progress</h4>
					<p class="text-content-dash">
					   No jobs in progress, post a task and save yourself the hassle. Let our professionals come to you. 
					</p>
					<div class="dashborad-post-btn">
						<a href="#">Post A Task</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
		<div class="container jobs-dasborad">
		<div class="row">
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Invoices Due</h4>
					<p class="text-content-dash">
					    You're up-to-date with all payments.You have no invoices due. 
					</p>
					
				</div>
			</div>
			<div class="col-sm-6">
				<div class="jobs-list">
					<h4>Reviews</h4>
					<p class="text-content-dash">
					   You're up-to-date with all your reviews. 
					</p>
					
				</div>
			</div>
		</div>
	</div>
</div>