<div class="content-body">
    <div class="eb-homeSlider">
        <div class="homeslider-content">
            <a data-ng-click="postTask()" class="btn btn-lg btn-primary">Post a Task</a>
            <a href="#/browse-tasks" class="btn btn-lg btn-primary">Browse Tasks</a>
            <!--<h1>Hire expert Event Bid for your job online</h1>
            <p>Millions of small businesses use event bider to turn their ideas into reality</p>
            <a href="#" class="btn btn-lg btn-primary">Get Free Quotes</a>
            <p class="homeSlider-desc">
                event bid for thousands of jobs from web design, mobile app development, product design to manufacturing
            </p>-->
        </div>
        <div class="owl-carousel home-banner">
            <div class="item">
                <img src="app/images/event-planing.jpg" alt="">
            </div>
            <div class="item">
                <img src="app/images/banner.jpg" alt="">
            </div>
            <div class="item">
                <img src="app/images/banner-3.jpg" alt="">
            </div>
            <div class="item">
                <img src="app/images/party.jpg" alt="">
            </div>
        </div>
    </div>


    <!--<div class="about-section gray-bg text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="heading">About Event Bid</h2>
                    <div class="icon-item">
                        <img  src="images/category-icon-web-dev-cef31823.svg" alt="">
                    </div>
                    <p class="about-content">Event Bid is a trusted community marketplace for people and businesses to outsource tasks, find local services or hire flexible staff in minutes - online or via mobile.</p>

                </div>
            </div>
        </div>
    </div>-->
    <div class="works-section text-center">
        <div class="container">
            <!--<h2 class="heading">What do you need done</h2>-->
            <div class="row">
                <div class="col-sm-3">
                    <a href="#/how-it-works">
                        <div class="works-item">
                            <img src="app/images/dashboard/How_it_works.png" alt="">
                        </div>
                        <h4>How It Works</h4>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#/about-us">
                        <div class="works-item">
                            <img src="app/images/dashboard/About_us.png" alt="">
                        </div>
                        <h4>About Us</h4>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#/EBManager">
                        <div class="works-item">
                            <img src="app/images/dashboard/EB_Manager.png" alt="">
                        </div>
                        <h4>EB Manager</h4>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#/Rewards">
                        <div class="works-item">
                            <img src="app/images/dashboard/Rewards.png" alt="">
                        </div>
                        <h4>Rewards</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="category-section text-center gray-bg">
        <h2 class="heading">Categories</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="category-icon">
                        <a href="#/browse-tasks"><img src="app/images/category/Catering.png" alt=""></a>
                    </div>
                    <h4 class="catering-text">Catering</h4>
                    
                </div>
                <div class="col-sm-3">
                    <div class="category-icon">
                        <a href="#/browse-tasks"> <img src="app/images/category/Hair_and_beauty.png" alt=""></a>
                    </div>
                    <h4 class="hair-text">Hair & Beauty</h4>
                    
                </div>
                <div class="col-sm-3">
                    <div class="category-icon">
                        <a href="#/browse-tasks"> <img src="app/images/category/Entertainment_and_talent.png" alt=""></a>
                    </div>
                    <h4 class="enetertainment-text">Entertainment & Talent</h4>
                    
                </div>
                <div class="col-sm-3">
                    <div class="category-icon">
                        <a href="#/browse-tasks"> <img src="app/images/category/Waiting_staff.png" alt=""></a>
                    </div>
                    <h4 class="waiting-text">Waiting</h4>
                    
                </div>
                <div class="col-sm-12"><button class="btn btn-lg btn-primary" data-ng-click="seeMoreClick()">See More</button></div>

            </div>
        </div>
    </div>

    

    <div class="event-hub-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 hub-head text-center">
                    <h1>The Event Bid Hub</h1>
                </div>
            </div>
            <div class="row hub-thumbnails">
                <div class="col-sm-4">
                    <div class="hub-post">
                        <div class="post-hub-pic">
                            <img src="app/images/banner-2.jpg">
                        </div>
                        <div class="post-hub-content">
                            <p class="hub-tag">Kids Parties</p>
                            <h3>BETTS KIDS SUMMER SHOE PARTY</h3>
                            <p class="post-desc">Jump into summer with the latest Spring/Summer collection from betts kids..</p>
                            <p class="post-read"><a href="#">Read More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="hub-post">
                        <div class="post-hub-pic">
                            <img src="app/images/banner-3.jpg">
                        </div>
                        <div class="post-hub-content">
                            <p class="hub-tag">Kids Parties</p>
                            <h3>BETTS KIDS SUMMER SHOE PARTY</h3>
                            <p class="post-desc">Jump into summer with the latest Spring/Summer collection from betts kids..</p>
                            <p class="post-read"><a href="#">Read More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="hub-post">
                        <div class="post-hub-pic">
                            <img src="app/images/banner-4.jpg">
                        </div>
                        <div class="post-hub-content">
                            <p class="hub-tag">Kids Parties</p>
                            <h3>BETTS KIDS SUMMER SHOE PARTY</h3>
                            <p class="post-desc">Jump into summer with the latest Spring/Summer collection from betts kids..</p>
                            <p class="post-read"><a href="#">Read More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="hub-post">
                        <div class="post-hub-pic">
                            <img src="app/images/banner-4.jpg">
                        </div>
                        <div class="post-hub-content">
                            <p class="hub-tag">Kids Parties</p>
                            <h3>BETTS KIDS SUMMER SHOE PARTY</h3>
                            <p class="post-desc">Jump into summer with the latest Spring/Summer collection from betts kids..</p>
                            <p class="post-read"><a href="#">Read More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="hub-post">
                        <div class="post-hub-pic">
                            <img src="app/images/banner-2.jpg">
                        </div>
                        <div class="post-hub-content">
                            <p class="hub-tag">Kids Parties</p>
                            <h3>BETTS KIDS SUMMER SHOE PARTY</h3>
                            <p class="post-desc">Jump into summer with the latest Spring/Summer collection from betts kids..</p>
                            <p class="post-read"><a href="#">Read More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="hub-post">
                        <div class="post-hub-pic">
                            <img src="app/images/banner-3.jpg">
                        </div>
                        <div class="post-hub-content">
                            <p class="hub-tag">Kids Parties</p>
                            <h3>BETTS KIDS SUMMER SHOE PARTY</h3>
                            <p class="post-desc">Jump into summer with the latest Spring/Summer collection from betts kids..</p>
                            <p class="post-read"><a href="#">Read More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


