<div class="content-body">
    <div class="sub-banner">
            <img src="app/images/how-it-works.jpg">
        <div class="banner-overlay">
            <h3>How it works</h3>
            <h4>An overview of hiring and freelancing on Upwork.</h4>
            <button>Sign Up</button>
        </div>
    </div>
    <div class="container how-it-tabs">
        <div class="row">
            <div class="col-sm-12">
               
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne"  >
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
          For Hirers
        </a>
          <i class="up"></i>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <p>Content is coming soon..</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseTwo">
          For Freelancers
        </a>
          <i class="up"></i>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
                  <div class="how-contents">
 
                <div class="col-sm-3">
                    <img src="app/images/request-cate.png">
                    <h3>Create Your Profile</h3>
                    <p>Create your profile

with your skills and

specialisations.

Don’t shy away by

showing off pictures

of your work.</p>
                </div>
                <div class="col-sm-3">
                    <img src="app/images/request-cate.png">
                    <h3>Jobs Come To You</h3>
                    <p>Create your profile

with your skills and

specialisations.

Don’t shy away by

showing off pictures

of your work.</p>
                </div>
                <div class="col-sm-3">
                    <img src="app/images/request-cate.png">
                    <h3>Submit Your Proposal</h3>
                    <p>Create your profile

with your skills and

specialisations.

Don’t shy away by

showing off pictures

of your work.</p>
                </div>
                <div class="col-sm-3">
                    <img src="app/images/request-cate.png">
                    <h3>Start Working, Start Earning</h3>
                    <p>Create your profile

with your skills and

specialisations.

Don’t shy away by

showing off pictures

of your work.</p>
                </div>
            
        
    </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="false" aria-controls="collapseThree">
          Our Event Managers
        </a>
          <i class="up"></i>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="freelance-contents">
            <h3>Our Event Managers</h3>
              <p>Event Bid also provides an end-to-end event management service

which is run by our EB Managers. If you would like to hand over your

entire event over to us to handle (no mess, no fuss for you), click on

the icon below to get in touch with our EB Manager and learn a little

more about what they can do for you!</p>
              <img src="app/images/request-cate.png">
          </div>
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseThree">
          Our Rewards
        </a>
          <i class="up"></i>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <div class="freelance-contents">
            <h3>Our Rewards</h3>
              <p>At Event Bid we believe in rewarding all our users for their support.

We are all about growing our local businesses and supporting those

who are just starting out. Our way of saying thank-you is to reward

you for sharing in our vision.</p>
            <p>We reward our hirers with points per dollar and reward our

freelancers with giving them a little extra support with what they

need to ensure they can the most out of their Event Bid experience.</p>
            <p>For the nitty gritty details of our reward system, click on the icon

below.</p>
              <img src="app/images/request-cate.png">
          </div>
      </div>
    </div>
  </div>
</div>
            </div>
        </div>
    </div>
    
    
    
</div>