
<div class="content-body">
    <div class="sub-banner">
        <img src="app/images/how-it-works.jpg">
        <div class="banner-overlay">
            <h3>Eventbid Messaging Service</h3>
            
        </div>
    </div>
    <div ng-repeat="message in messages">
        <strong>{{message.user.name}}:</strong>
        <span>{{message.data}}</span>
    </div>
    <form >
        <input ng-model="textbox">
        <!--<img src="app/images/send-icon.png" >-->
        <input type="button" value="send"data-ng-click=" send()" />
    </form>
</div>
