<div class="content-body">
    <div class="sub-banner">
        <img src="app/images/dashboard-banner.jpg">
        <div class="banner-name-user text-center">
            <h1>Hello, {{firstName}}</h1>
        </div>
    </div>
   
        <div class="container payment-table-colum">
            <h4 >Please find your transaction history as follows :</h4>
            <div data-ng-if="transactionRecordIndicator">
            <table width="100%" border="1">
                <tr class="pay-table-head">
                    <td>Task ID</td>
                    <td>Task Title</td>
                    <td>Amount</td>
                    <td>Task owner release fund transaction ID</td>
                    <td>Admin release fund to doer transaction ID</td>
                    <td>Admin release fund to doer transaction Status</td>
                </tr>
                <div>
                <tr data-ng-repeat="item in transactionDetail">
                    <td>{{item.taskId}}</td>
                    <td>{{item.task.event_title}}</td>
                    <td>{{item.amount}} $</td>
                    <td>{{item.task.make_payment_transactionId}}</td>
                    <td>{{item.task.release_fund_transactionId}}</td>
                    <td>
                        <span data-ng-if="item.task.isPaymentMade == 'false'">Payment Not Made yet.</span>
                        <span data-ng-if="item.task.isPaymentMade == 'true'">Payment Completed.</span>
                    </td>
                </tr>
                </div>
            </table>
            </div>
            <div data-ng-if="!transactionRecordIndicator">
            No transaction found
            </div>

        </div>
   
</div>
