

<div class="content-body eb-content-body">
    <div class="container">
        <div class="profile-wrapper">
        	<!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a data-ng-click="showProfileTab()" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                <li role="presentation"><a data-ng-click="showaccountSettingsTab()" aria-controls="accountSettings" role="tab" data-toggle="tab">Account Settings</a></li>
            </ul>
        
        	<!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" ng-class="{active: profileIndicator }" id="profile" data-ng-show="profileIndicator">
                    <form name="updateProfileForm" novalidate>
                        <div class="alert alert-danger" data-ng-show="errorMessageIndicator">
                        {{ message}}
                        </div>
                        <div class="form-container">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-field">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" ng-model="user.firstName" name="firstName" required
                                               ng-class="{error : updateProfileForm.firstName.$invalid && updateProfileForm.$submitted}">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-field">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" ng-model="user.lastName" name="lastName" required
                                               ng-class="{error : updateProfileForm.lastName.$invalid && updateProfileForm.$submitted}">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-field">
                                        <label>Upload Your Photo</label>
                                        <input type="file" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-field">
                                        <label>Specialisation</label>
                                        <select class="singleSelection" ng-model="user.category" name="category" required
                                                ng-class="{error : updateProfileForm.category.$invalid && updateProfileForm.$submitted}">
                                            <option value="" selected="selected">Select Category</option>
                                            <option value="Make Up,Hair & Beauty">Make Up,Hair & Beauty</option>
                                            <option value="Catering">Catering</option>
                                            <option value="Cleaning Services">Cleaning Services</option>
                                            <option value="Car & Venue Hire">Car & Venue Hire</option>
                                            <option value="entertainment & talent">entertainment & talent</option>
                                            <option value="waiting/Waitressing">waiting/Waitressing</option>
                                            <option value="Graphic Design">Graphic Design</option>
                                            <option value="car & venue hire">car & venue hire</option>
                                            <option value="supply hire">supply hire</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-field">
                                        <label>Location</label>
                                        <div class="mapOuter">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55565170.29301636!2d-132.08532758867793!3d31.786060306224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1491333930955" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-field">
                                        <label>About Me</label>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-field">
                                        <label>Verifications and Skills</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-field">
                                        <label>Portfolio</label>
                                        <input type="file" class="form-control">
                                        <small>Allow 25 image uploads</small>
                                        <div class="uploadedPhotos">
                                            <ul>
                                                <li><img src="app/images/profile_Pictures.jpg" alt=""></li>
                                                <li><img src="app/images/profile_Pictures.jpg" alt=""></li>
                                                <li><img src="app/images/profile_Pictures.jpg" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-field">
                                        <label>Reviews & Ratings</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="button-group">
                                        <input type="submit" value="Update Profile" class="btn btn-primary btn-lg"
                                               data-ng-click="updateProfile()"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="accountSettings"  ng-class = "{active : accountSettingsIndicator }" data-ng-show="accountSettingsIndicator">
                	<div class="form-container">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-field">
                                    <label>First Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-field">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-field">
                                    <label>Location</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-field">
                                    <label>Email</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        
                        <div class="paymentOption form-field">
                            <label class="radio-inline"><input type="radio" name="optradio">Debit Card</label>
                            <label class="radio-inline"><input type="radio" name="optradio">Credit Card</label>
                            <label class="radio-inline"><input type="radio" name="optradio">Net Banking</label>
                            <label class="radio-inline"><input type="radio" name="optradio">Net Banking</label>
                        </div>
                        
                        <div class="row">
                        	<div class="col-sm-4">
                            	<div class="form-field">
                                    <label>ENTER DEBIT CARD NUMBER</label>
                                    <input type="text" class="form-control">
                                </div>	
                            </div>
                        </div>
                        <div class="row">
                        	<div class="col-sm-4">
                            	<div class="row">
                                	<div class="col-sm-8">
                                    	<div class="form-field dexpireDate">
                                    		<label class="btn-block">EXPIRY DATE</label>
                                            <select class="form-control">
                                            	<option selected>MM</option>
                                            </select>
                                            <select class="form-control">
                                            	<option selected>YY</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                    	<div class="form-field">
                                    		<label>CVV</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>	
                            </div>
                        </div>
                        
                        <div class="row">
                        	<div class="col-sm-12">
                                <div class="form-field">
                                    <input type="checkbox"> Save this card for faster checkout
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="button-group">
                                    <input type="submit" value="Pay Now" class="btn btn-primary btn-lg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
