	<div class="sub-banner">
        <img src="app/images/dashboard-banner.jpg">
        <div class="banner-name-user text-center">
            <h1>Hello, Rebecca</h1>
        </div>
</div>
<div class="profile-page-event">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="side-bar-profile">
						<div class="user-pic">
							<img src="app/images/Thumbnail_img.jpg">
							
						</div>
						<p class="user-name">Rebecca A</p>
						<p class="pro-ratting"><img src="app/images/4-stars.png"></p>
						<p class="location-text"><span class="from-pro">From:</span><span class="loc-pro">Rosanna</span></p>
						<p class="location-text"><span class="from-pro">Tier:</span><span class="loc-pro">New User</span></p>
						<p class="pro-contact-me"><a href="#">Contact Me</a></p>
					</div>
					
					<div class="side-bar-profile">
						
						<p class="user-name">About Me</p>
						<p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						<p class="skill-pro">Skill</p>
						<ul class="skill-list">
							<li>Drowing</li>
							<li>Cooking</li>
							<li>Party planning</li>
						</ul>
					</div>
					
				</div>
				<div class="col-sm-8">
					<div class="jobs-profile">
						<div class="portfolio-list">
							<ul class="images-portfolio">
								<li><img src="app/images/banner.jpg"></li>
								<li><img src="app/images/banner-3.jpg"></li>
								<li><img src="app/images/banner-4.jpg"></li>
								<li><img src="app/images/banner.jpg"></li>
							</ul>
						</div>
						<div class="jobs-pro-heading">
							<h2>PAST JOBS COMPLETED <span class="icon-right"></span></h2>
						</div>
						<div class="job-status-thumb">
							<h3>Title goes here</h3>
							<p class="status-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<p class="location-text"><span class="from-pro">July 2017</span><span class="loc-pro">Status</span></p>
						</div>
						<div class="job-status-thumb">
							<h3>Title goes here</h3>
							<p class="status-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<p class="location-text"><span class="from-pro">July 2017</span><span class="loc-pro">Status</span></p>
						</div>
						<div class="job-status-thumb">
							<h3>Title goes here</h3>
							<p class="status-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<p class="location-text"><span class="from-pro">July 2017</span><span class="loc-pro">Status</span></p>
						</div>
						<div class="review-head" style="float:left; width:100%; padding:15px 0px;">
							<h3>Review</h3>
						</div>
						<div class="review-pro">
							<div class="review-user text-center">
								<img src="app/images/sample-img.png">
								<p>Rebecca</p>
							</div>
							<div class="review-content-pro">
								<img src="app/images/4-stars.png">
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</div>
						</div>
						<div class="review-pro">
							<div class="review-user text-center">
								<img src="app/images/sample-img.png">
								<p>Rebecca</p>
							</div>
							<div class="review-content-pro">
								<img src="app/images/4-stars.png">
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</div>
						</div>
						<div class="review-pro">
							<div class="review-user text-center">
								<img src="app/images/sample-img.png">
								<p>Rebecca</p>
							</div>
							<div class="review-content-pro">
								<img src="app/images/4-stars.png">
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>