<div class="content-body">
    <div class="sub-banner">
            <img src="app/images/how-it-works.jpg">
        <div class="banner-overlay">
            <h3>Request a category</h3>
            <h4>An overview of hiring and freelancing on Upwork.</h4>
            <button>Sign Up</button>
        </div>
    </div>
    <div class="container how-it-tabs">
        <div class="row">
            <div class="col-sm-12">
               
                <div class="request-form">
			<div class="row">
				<div class="col-sm-12">
					<h4>Name</h4>
				</div>
				<div class="col-sm-6">
					<input type="text" placeholder="First Name">
				</div>
				<div class="col-sm-6">
					<input type="text" placeholder="Last Name">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h4>Email:</h4>
				</div>
				<div class="col-sm-12">
					<input type="email" placeholder="Enetr Email">
				</div>
				
			</div>
			<div class="row hire">
				
				<div class="col-sm-6">
					<button class="">I am a hire</button>
				</div>
				<div class="col-sm-6">
					<button class="">I am a Service Provider</button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h4>Title of new category:</h4>
				</div>
				<div class="col-sm-12">
					<input type="email" placeholder="category">
				</div>
				
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h4>Why do you need a new category?</h4>
				</div>
				<div class="col-sm-12">
					<textarea class="form-control" rows="5"></textarea>
				</div>
				
			</div>
            <div class="row hire">
				
				<div class="col-sm-12">
					<button class="">Subnit</button>
				</div>
				
			</div>
		</div>
                    
            </div>
        </div>
    </div>
    
    
    
</div>