<div class="content-body">
    <div class="sub-banner">
            <img src="app/images/reward-banner.jpg">
        
    </div>
        <div class="container how-it-tabs">
        <div class="row">
            <div class="col-sm-12">
               
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
          For Hirers
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <div class="how-contents">
 
                <div class="col-sm-6">
                    <img src="app/images/reward1.png">
                    <h3>Turn your $$ into Points</h3>
                    <p>For every payment to on of our amazing local professionals, you will receive EB points. $4 = 1 EB point!</p>
                </div>
                <div class="col-sm-6">
                    <img src="app/images/reward2.png">
                    <h3>Turn your Points into $$</h3>
                    <p>You can redeem for EB points for cash to use on our website. That means you'll get to save on your next Event! Use your points at checkout and see how much 
                    you can save!</p>
                </div>
                
                
            
        
    </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading second-head" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="false" aria-controls="collapseTwo">
          For Freelancers
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
                  <div class="how-contents">
 
                <div class="col-sm-6">
                    <img src="app/images/reward3.png">
                    <h3>Work Work Work</h3>
                    <p>For our service providers we award a bronze, silver and gold service status. The more jobs you complete, the closer you get to each status.
                    Your profile will be marked with a medallion so that the hirers will know that you are a high level service provider. </p>
                </div>
                <div class="col-sm-6">
                    <img src="app/images/reward4.png">
                    <h3>Reduce your commission & Increase Profits</h3>
                    <p>For every progression in status, you will need to pay a smaller commission rate to Event Bid. We like to reward you fo being an excellent service
                    provider by putting more money in your pocket.</p>
                </div>
    </div>
      </div>
    </div>
  </div>
  
    
</div>
            </div>
        </div>
    </div>
</div>