<div class="content-body">
    <div class="sub-banner">
            <img src="app/images/how-it-works.jpg">
        <div class="banner-overlay">
            <h2>Rewards</h2>
            
        </div>
    </div>
        <div class="container how-it-tabs">
        <div class="row">
            <div class="col-sm-12">
               
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          For Hirers
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <p>Content is coming soon..</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          For Freelancers
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
                  <div class="how-contents">
 
                <div class="col-sm-3">
                    <img src="app/images/request-cate.png">
                    <h3>Create Your Profile</h3>
                    <p>Create your profile

with your skills and

specialisations.

Don’t shy away by

showing off pictures

of your work.</p>
                </div>
                <div class="col-sm-3">
                    <img src="app/images/request-cate.png">
                    <h3>Jobs Come To You</h3>
                    <p>Create your profile

with your skills and

specialisations.

Don’t shy away by

showing off pictures

of your work.</p>
                </div>
                <div class="col-sm-3">
                    <img src="app/images/request-cate.png">
                    <h3>Submit Your Proposal</h3>
                    <p>Create your profile

with your skills and

specialisations.

Don’t shy away by

showing off pictures

of your work.</p>
                </div>
                <div class="col-sm-3">
                    <img src="app/images/request-cate.png">
                    <h3>Start Working, Start Earning</h3>
                    <p>Create your profile

with your skills and

specialisations.

Don’t shy away by

showing off pictures

of your work.</p>
                </div>
            
        
    </div>
      </div>
    </div>
  </div>
  
    
</div>
            </div>
        </div>
    </div>
</div>