<div class="content-body">
    <!--<div class="">
            <img src="app/images/banner-31.jpg">
    </div>-->
        <!--<div class="container how-it-tabs">
        <div class="row">  
            <div class="col-sm-12">
               
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
          For Hirers
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <div class="how-contents">
 
                <div class="col-sm-6">
                    <img src="app/images/reward1.png">
                    <h3>Turn your $$ into Points</h3>
                    <p>For every payment to on of our amazing local professionals, you will receive EB points. $4 = 1 EB point!</p>
                </div>
                <div class="col-sm-6">
                    <img src="app/images/reward2.png">
                    <h3>Turn your Points into $$</h3>
                    <p>You can redeem for EB points for cash to use on our website. That means you'll get to save on your next Event! Use your points at checkout and see how much 
                    you can save!</p>
                </div>
                
                
            
        
    </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading second-head" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="false" aria-controls="collapseTwo">
          For Freelancers
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
                  <div class="how-contents">
 
                <div class="col-sm-6">
                    <img src="app/images/reward3.png">
                    <h3>Work Work Work</h3>
                    <p>For our service providers we award a bronze, silver and gold service status. The more jobs you complete, the closer you get to each status.
                    Your profile will be marked with a medallion so that the hirers will know that you are a high level service provider. </p>
                </div>
                <div class="col-sm-6">
                    <img src="app/images/reward4.png">
                    <h3>Reduce your commission & Increase Profits</h3>
                    <p>For every progression in status, you will need to pay a smaller commission rate to Event Bid. We like to reward you fo being an excellent service
                    provider by putting more money in your pocket .</p>
                </div>
    </div>
      </div>
    </div>
  </div>
  
    
</div>
            </div>
        </div>
    </div>-->
    <div class="reward-banner">
        <img src="app/images/banner-3.jpg">
        <div id="cspio-content" class="animated fadeIn" style="display: block;">
            
            <h1 class="comm" id="cspio-headline">Coming Soon</h1>

            <div id="cspio-description">Get ready! Something really cool is coming!</div>

            <form id="cspio-form">
                <div id="cspio-field-wrapper">
                    <div class="row">
                        <div class="col-md-12 seperate">
                            <div class="input-group">
                                <input id="cspio-email" name="EMAIL" class="form-control input-lg form-el" type="email" placeholder="Email" required="" tabindex="0">
                                <span class="input-group-btn"><button id="cspio-subscribe-btn" type="submit" class="btn btn-lg btn-primary form-el noglow">Notify Me</button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <span id="cspio-privacy-policy-txt">We promise to never spam you.</span>

            <!--<div id="cspio-socialprofiles">
             <a href="" target="_blank"><i class="fa fa-facebook-official fa-2x"></i></a>
             <a href="" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
             <a href="mailto:" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>
            </div>-->



        </div>
    </div>
</div>
<script>
    $('#cspio-subscribe-btn').click(function () {
        var email = $('#cspio-email').val();
        if (email != undefined && email != null && email != "") {
            if (isValidEmailAddress(email))
            {
                var myKeyVals = { 'email': email }
                var saveData = $.ajax({
                    type: 'POST',
                    url: "http://api.eventbid.com.au/api/v1/contactus?email=" + email,
                    success: function (resultData) {
                        if (resultData.message != 'The email field is required.') {
                            alert("Thank you for contacting us. We will notify you soon.");
                            $('#cspio-email').val('');
                        }
                    }
                });
            }
            else {
                alert("Please enter a valid email address");
            }
        }
    });

    function isValidEmailAddress(emailAddress) {
        var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        return pattern.test(emailAddress);
    };
</script>