<div class="content-body">
    <div class="sub-banner">
        <img src="app/images/dashboard-banner.jpg">
        <div class="banner-name-user text-center">
            <h1>Hello, {{firstName}}</h1>
        </div>
    </div>
    <div class="container setting-pages">
        <div class="row">
            <div class="col-sm-3">
                <div class="menubar-left">
                    <ul>
                        <li><a ng-class="{activeSide : accountIndicator}" data-ng-click="accountSettings()">Account</a></li>
                        <li><a ng-class="{activeSide : categoryIndicator}" data-ng-click="categorySettings()">Categories</a></li>
                        <li><a ng-class="{activeSide : mobileIndicator }" data-ng-click="mobileSettings()">Mobile</a></li>
                        <li><a ng-class="{activeSide : portfolioIndicator }" data-ng-click="portfolioSettings()">Portfolio</a></li>
                        <li><a ng-class="{activeSide : paymentIndicator }" data-ng-click="paymentSettings()">Payment Methods</a></li>
                        <li><a ng-class="{activeSide : passwordIndicator }" data-ng-click="passwordSettings()">Password</a></li>
                        <li>
                            <a ng-class="{activeSide : insuranceIndicator }" data-ng-click="insuranceSettings()">
                                Qualifications & Insurance
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9" data-ng-if="accountIndicator">
                <div class="alert alert-success" data-ng-if="successMessageIndicator">
                    Details updated successfully.
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>First Name</label>
                        <input type="text" width="100%" data-ng-model="userDetails.first_name" name="first_name" maxlength="20">
                    </div>
                    <div class="col-sm-6">
                        <label>Last Name</label>
                        <input type="text" width="100%" data-ng-model="userDetails.last_name" name="last_name" maxlength="20">
                    </div>
                </div>
                <div class="row">
                    <label>Upload Profile Image :</label>
                    <div class="col-sm-6">
                        <input type="file" class="form-control" name="userDetails.photo" id="userDetails.user_image"
                               fileread="userDetails.photo" image-type="categoryImage" accept="image/*" data-ng-model="userDetails.photo">

                    </div>
                    <div class="col-sm-6">
                        <div ng-if="userDetails.photo" class="pop-upload-image">
                            <img ng-src="{{userDetails.photo}}" widt width="100" height="50" alt="Image preview..." id="profilePhoto">
                            <input type="button" value="view picture" data-ng-click="getProfilePicture(userDetails.photo)" />
                        </div>
                        <div ng-if="!userDetails.photo">
                            no pic uploaded.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Suburb</label>
                        <input type="text" width="100%" data-ng-model="userDetails.suburb" name="suburb" maxlength="20">
                    </div>
                    <div class="col-sm-6">
                        <label>State</label>
                        <input type="text" width="100%" data-ng-model="userDetails.state" name="state" maxlength="20">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Email</label>
                        <input type="text" width="100%" data-ng-model="userDetails.email" name="email" readonly>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>About me</label>
                        <textarea width="100%" rows="4" data-ng-model="userDetails.about_me" name="aboutme"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Birthday</label>
                    </div>
                    <div class="alert alert-danger" data-ng-show="dateErrorIndicator">
                        Please select valid date(dd, mm, yyyy)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <select class="singleSelection" ng-model="day"
                                ng-options="item as item for item in dayArray" width="100%" ng-class="{error : dateErrorIndicator}">
                            <option value="">dd</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="singleSelection" ng-model="month"
                                ng-options="item1 as item1 for item1 in monthArray" width="100%"
                                ng-class="{error : dateErrorIndicator}">
                            <option value="">mm</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select class="singleSelection" ng-model="year"
                                ng-options="item2 as item2 for item2 in yearArray" width="100%"
                                ng-class="{error : dateErrorIndicator}">
                            <option value="">yyyy</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-lg btn-primary" data-ng-click="updateAccountDetails()">Update</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-9" data-ng-show="categoryIndicator">
                <div class="row">
                    <h4>Categories</h4>
                    <p>
                        Let people know what categories you are a master of. That way people will be able to find you when
                        they are looking for some help with their event. Are you a great baker ? A great singer ? Have great
                        party supplies ?
                    </p>
                    You can pick up to 4 categories.
                    <div class="form-field">

                        <select name="selectedCategories" id="selectedCategories" ng-model="selectedCategories" multiple
                                class="multipleSelection" ng-options="item.id as item.name for item in categoryList"></select>
                    </div>

                </div>
                 
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-lg btn-primary" data-ng-click="updateCategoryDetails(selectedCategories)">Update</a>
                    </div>
                </div>

            </div>
            <div class="col-sm-9" data-ng-if="mobileIndicator">
                <div class="alert alert-success" data-ng-if="successMobileIndicator">
                    Details updated successfully.
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label><b>Mobile Number</b></label>
                        <p>
                            We may like to keep in touch with you and give you notifications about your
                            projects.Your mobile number won't be available to the public.
                        </p>
                    </div>
                    <div class="alert alert-danger" data-ng-show="dateErrorIndicator">
                        Please select valid date(dd, mm, yyyy)
                    </div>
                    <div class="col-sm-6 enter-mobile">
                        <label>Mobile Number</label>
                        <span class="country-mobile-code">+61</span>
                        <input type="number" width="100%" data-ng-model="userDetails.mobile"
                               name="mobile">
                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-lg btn-primary" data-ng-click="updateMobileDetails()">Update</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-9" data-ng-if="portfolioIndicator">
                <div class="row">
                    <div class="col-sm-12">
                        <label><b>Your Portfolio</b></label>
                        <p>Showcase your skills by uploading photos of your previous work. By showing potential customers what your abilities are , you may be more successful in winning a job.</p>
                        <p>You can upload a maximum of 5 files. Each file can not be larger than 4mb.</p>
                        <br />
                    </div>

                </div>
                <div data-ng-if="errorMessageIndicator" class="alert alert-danger">
                    {{messagePortfolio}}
                </div>
                <div class="row">
                    <label>Upload Portfolio Image :</label>
                    <div class="col-sm-6">
                        <input type="file" class="form-control" name="portFolioImage" id="portFolioImage"
                               fileread="portFolioImage" image-type="portFolioImage" accept="image/*" data-ng-model="portFolioImage">

                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div data-ng-if="portfolioImageArray.length > 0" data-ng-repeat="data in portfolioImageArray track by $index">
                            <img class="uploaded-image" ng-src="{{data}}" width="100" height="50" alt="Image preview..." id="portPhoto">
                        </div>
                        <input type="button" value="view in detail" data-ng-click="getPortfolioPicture(portfolioImageArray)" />
                    </div>
                 </div>
                 <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-lg btn-primary" data-ng-click="uploadPortfolioFiles()">Upload Files</a>
                        </div>
                  </div>
                </div>
            <div class="col-sm-9" data-ng-if="paymentIndicator">
                <div class="row">
                    <div class="col-sm-12">
                        <label><b>Your Credit Card Information</b></label>
                        <p>When you are ready to start transacting on the website, you will be required to provide your credit or debit card details.</p>
                        <br />
                        <p>Your card details will only be available for Event Bid admin.</p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <div data-ng-if="creditCardDetailsIndicator">
                            <div class="event-card-detail" ng-show="!updateCardDetailIndicator">

                                <a class="remove-card" ng-click="removecard(card)">remove card</a>
                                <p><span>Card Type</span> <span>{{card.type}}</span></p>
                                <p><span>Card#</span> <span>{{card.card_number}}</span></p>
                                <p><span>Expiry Date</span> <span>{{card.expire_month}}/{{card.expire_year}}</span></p>
                                <p><span>Name on card</span> <span>{{card.first_name}} {{card.last_name}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-container payment-form" ng-controller="paymentCtrl" ng-show="cardDetailIndicator || updateCardDetailIndicator">
                    <form name="paymentForm" novalidate>
                        <div class="alert alert-danger" data-ng-show="errorMessageIndicator">
                            {{ message}}
                        </div>
                        <div class="alert alert-success" data-ng-if="successMessageIndicator">
                            {{message}}
                        </div>

                        

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-field">
                                    <label>Enter Card Number</label>
                                    <input type="number" class="form-control" id="debitNumber" name="debitNumber" maxlength="16" min="16"
                                           ng-class="{error : paymentForm.debitNumber.$invalid && paymentForm.$submitted}" required data-ng-model="cardDetails.card_number">
                                </div>
                            </div>
                        </div>
                        <div class="paymentOption form-field">
                            <span class="radio-inline">
                                <input type="radio" class="form-control" id="debit" name="debit" value="visa"
                                       ng-class="{error : paymentForm.debit.$invalid && paymentForm.$submitted}" required data-ng-model="cardDetails.card_type">
                                <span class="payment-radio-text">VISA</span>
                            </span>
                            <span class="radio-inline">
                                <input type="radio" class="form-control" id="credit" name="credit" value="mastro"
                                       ng-class="{error : paymentForm.credit.$invalid && paymentForm.$submitted}" required data-ng-model="cardDetails.card_type">
                                <span class="payment-radio-text">MASTERCARD</span>
                            </span>
                        </div><div class="row">
                         <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-field expireDate">
                                            <label class="btn-block">Expiry Date</label>
                                            <select required class="form-control" data-ng-model="cardDetails.expire_month" ng-options="item for item in montharray">
                                                <option value="" selected>MM</option>
                                            </select>
                                            <select required class="form-control" data-ng-model="cardDetails.expire_year" ng-options="item for item in yeararray">
                                                <option value="" selected>YYYY</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-field">
                                            <label>CVV</label>
                                            <input type="number" class="form-control" id="cvv" name="cvv" maxlength="3" min="3"
                                                   required ng-class="{error : paymentForm.cvv.$invalid && paymentForm.$submitted}" data-ng-model="cardDetails.cvv">
                                        </div>
                                    </div>

                                </div>
                                <!-- <div class="row">
                                     <div class="col-sm-12">
                                         <div class="form-field">
                                             <label>Amount</label>
                                             <input type="number" class="form-control" id="amount" name="amount"
                                                    required ng-class="{error : paymentForm.amount.$invalid && paymentForm.$submitted}" data-ng-model="user.amount">
                                         </div>
                                     </div>
                                 </div>-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-field card-holder-name">
                                            <label>Card Holder's  Name</label>
                                            <div class="card-holder-input">
                                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name"
                                                       ng-class="{error : paymentForm.first_name.$invalid && paymentForm.$submitted}" required data-ng-model="cardDetails.first_name">
                                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"
                                                       ng-class="{error : paymentForm.last_name.$invalid && paymentForm.$submitted}" required data-ng-model="cardDetails.last_name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row">
                             <div class="col-sm-12">
                                 <div class="form-field">
                                     <input type="checkbox" class="payment-checkbox"> Save this card for faster checkout
                                 </div>
                             </div>
                         </div>-->

                        <div class="row">
                            <div class="col-sm-12 card-pay-button">
                                <div class="button-group">
                                    <input data-ng-click="addCardDetails(cardDetails, paymentForm)" type="submit" value="Add card" class="btn btn-primary btn-lg payment-btn">
                                    <input type="button" data-ng-click="cancelAddingCard()" value="Cancel" class="btn btn-primary btn-lg payment-btn">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row" data-ng-show="buttonIndicator">
                    <div class="col-sm-12">
                        <a class="btn btn-lg btn-primary" ng-click="showCardDetails()">Add card</a>
                        <a class="btn btn-lg btn-primary" ng-click="updateCardDetails()">Update Card</a>
                    </div>
                </div>


            </div>
            <div class="col-sm-9" data-ng-if="passwordIndicator">
                <div class="alert alert-success" data-ng-if="successPasswordIndicator">
                    Details updated successfully.
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Current Password</label>
                        <input type="password" width="100%" name="currentPassword">
                    </div>
                    <div class="col-sm-12">
                        <label>New Password</label>
                        <input type="password" width="100%" name="newPass">
                    </div>
                    <div class="col-sm-12">
                        <label>Confirm Password</label>
                        <input type="password" width="100%" name="cnfrmPass">
                    </div>

                </div>



                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-lg btn-primary" data-ng-click="updatePassword()">Update</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-9" data-ng-if="insuranceIndicator">
                <div class="insurance-page">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>INSURANCE</h3>
                            <p>Insurance Type:</p>
                            <input type="text" data-ng-model="" placeholder="i.e. public liability insurance">
                            <p>Insurer:</p>
                            <input type="text" placeholder="">
                            <p>Certificate Of Currency</p>
                            <input type="file" value="Upload File" id="insFileUpload"/>
                            <input type="button" ng-click="insuranceFileUpload()" value="add" />

                            <p class="add-more-isurance"><i class="fa fa-plus"></i> Add More Insurance</p>
                        </div>
                        <div class="col-sm-6">
                            <h3>QUALIFICATION</h3>
                            <p>Insurance Type:</p>
                            <input type="text" placeholder="i.e. public liability insurance">
                            <p>Insurer:</p>
                            <input type="text" placeholder="">
                            <p>Certificate Of Currency</p>
                            <a href="#">Upload File</a>
                            <p class="add-more-isurance"><i class="fa fa-plus"></i> Add More Insurance</p>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <!--Profile picture pop up  -->
    <div class="modal fade" id="profilePopup" tabindex="-1">
        <div class="eb-vAlignment">
            <div class="modal-dialog eb-vAlignCenter">
                <div class="modal-content">
                    <div class="eb-modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Profile pic review</h3>
                    </div>
                    <div class="modal-body">
                        <div class="extraSpace"></div>
                        <div class="popup-form-row vicky">
                            <div class="form-field">
                                    <img class="img-full-size" ng-src="{{userDetails.photo}}" alt="Image preview..."
                                          id="profilePhoto1">
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-primary" data-ng-click="profilePopupClose()">OK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Portfolio picture pop up  -->
    <div class="modal fade" id="portfolioPicturePopup" tabindex="-1">
        <div class="eb-vAlignment">
            <div class="modal-dialog eb-vAlignCenter">
                <div class="modal-content">
                    <div class="eb-modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Portfolio review</h3>
                    </div>
                    <div class="modal-body">
                        <div class="extraSpace"></div>
                        <div class="popup-form-row">
                            <div class="form-field">
                                <div data-ng-if="portfolioImageArray.length > 0" data-ng-repeat="data in portfolioImageArray track by $index">
                                    <img class="uploaded-image" ng-src="{{data}}" alt="Image preview..." id="portPhoto">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-primary" data-ng-click="portfolioPicturePopupClose()">OK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--category update pop up  -->
    <div class="modal fade" id="categoryPopup" tabindex="-1">
        <div class="eb-vAlignment">
            <div class="modal-dialog eb-vAlignCenter">
                <div class="modal-content">
                    <div class="eb-modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        
                    </div>
                    <div class="modal-body">
                         <p>
                             Category updated successfully.
                         </p>
                        <div class="text-center">
                            <a class="btn btn-primary" data-ng-click="categoryPopupClose()">OK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--mobile update pop up  -->
    <div class="modal fade" id="mobilePopup" tabindex="-1">
        <div class="eb-vAlignment">
            <div class="modal-dialog eb-vAlignCenter">
                <div class="modal-content">
                    <div class="eb-modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Success Message</h3>
                    </div>
                    <div class="modal-body">
                        <p>
                            Mobile number updated successfully.
                        </p>
                        <div class="text-center">
                            <a class="btn btn-primary" data-ng-click="mobilePopupClose()">OK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--portfolio update pop up  -->
    <div class="modal fade" id="portfolioPopup" tabindex="-1">
        <div class="eb-vAlignment">
            <div class="modal-dialog eb-vAlignCenter">
                <div class="modal-content">
                    <div class="eb-modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Success Message</h3>
                    </div>
                    <div class="modal-body">
                        <p>
                            Portfolio updated successfully.
                        </p>
                        <div class="text-center">
                            <a class="btn btn-primary" data-ng-click="portfolioPopupClose()">OK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
